<div class="bg-white py-8 px-8 w-full gap-4 flex flex-col">
  <div class="flex gap-4 items-center">
    <div>Height</div>
    <input
      type="text"
      [(ngModel)]="height"
      class="border border-gray-300 p-2"
    />
    <div>Width</div>
    <input
      type="text"
      [(ngModel)]="width"
      class="border border-gray-300 p-2"
    />
  </div>
  <div class="flex gap-4 items-center">
    <div>Vendor</div>
    <input
      type="text"
      [(ngModel)]="vendor"
      (ngModelChange)="updateSrc()"
      class="border border-gray-300 p-2"
    />
    <div>Id</div>
    <input
      type="text"
      [(ngModel)]="id"
      (ngModelChange)="updateSrc()"
      class="border border-gray-300 p-2"
    />
    <div>Chart</div>
    <select
    [(ngModel)]="chartname"
    (ngModelChange)="updateSrc()"
    >
      <option *ngFor="let item of charts" >{{item}}</option>
    </select>
    <button
      class="btn-primary py-2 px-3"
      (click)="ClipboardIframeHTML()"
    >
      Generate IFRAME
    </button>
  </div>

  <iframe
    [src]="src"
    [style]="getStyles()"
  ></iframe>
</div>
