.items_table {
  @apply w-full text-white;

  thead {
    @apply border-b border-gray-200 border-solid bg-secondary;
    th {
      @apply text-left px-5 py-3 font-normal text-xs;

    }
  }

  tbody {
    tr:nth-child(2n+1) {
      @apply bg-primary;
    }
    tr:nth-child(2n) {
      @apply bg-secondary;
    }

    tr {
      @apply hover:border hover:border-emerald-400 hover:border-solid cursor-pointer;
      td {
        @apply px-5 py-3 text-left text-sm;
      }
    }
  }
}

.datamaps_div {
  position: relative;
  width: 100%;
  height: min(60vw, 600px);
  margin: auto;
}
