.items_table {
  @apply text-white;

  thead {
    @apply border-b border-gray-200 border-solid bg-secondary;
    th {
      @apply text-left px-5 py-3 font-normal text-xs;

    }
  }

  tbody {
    tr:nth-child(2n+1) {
      @apply bg-primary;
    }
    tr:nth-child(2n) {
      @apply bg-secondary;
    }

    tr {
      @apply hover:outline hover:outline-1 hover:-outline-offset-1 hover:outline-emerald-400 cursor-pointer;
      td {
        @apply px-5 py-3 text-left text-sm;
      }
    }
  }
}

.datamaps_div {
  position: relative;
  width: 100%;
  height: min(60vw, 600px);
  margin: auto;
}

.vendor_labels {
  max-width: 80%;
  margin: auto;
}

.color_circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

@media screen and (max-width: 1280px) {
	.datamaps_div {
		width: calc(100% - 1rem);
    margin: 0.5rem;
	}
}
