<div class="flex gap-2 flex-col">
  <div class="delimiter"></div>
  <nav class="ml-3" id="breadcrumbNav" #breadcrumbNav>
    <div
      class="flex gap-2 text-sm"
      itemscope
      itemtype="https://schema.org/BreadcrumbList"
    >
      @for (item of segments; track item; let i = $index) {
        <div class="flex gap-2">
          @if (i > 0) {
            <div class="text-emerald-400">/</div>
          }
          <div
            class="breadcrumb-item"
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            @if (item.url) {
              <a
                itemprop="item"
                routerLink="{{ item.url }}"
                [queryParams]="item.queryParams"
                class="text-white hover:text-emerald-400"
              >
                <span itemprop="name">{{ item.name }}</span>
              </a>
            } @else {
              <span itemprop="name" class="text-white">{{ item.name }}</span>
            }
            <meta itemprop="position" content="{{ i + 1 }}" />
          </div>
        </div>
      }
    </div>
  </nav>
  <div class="delimiter"></div>
</div>
