.content_section {
  @apply text-white;
  padding: 4rem 2rem;
  border-top: 1px solid#34D399;
}

.repo_table {
  @apply w-full;

  thead {
    @apply border-b border-emerald-400 border-solid;
    th {
      @apply text-left px-5 py-3 font-normal text-xs;

    }
  }

  tbody {
    tr:nth-child(2n+1) {
      @apply bg-primary;
    }
    tr:nth-child(2n) {
      @apply bg-secondary;
    }

    tr {
      td {
        @apply px-5 py-3 text-left text-sm;
        a:hover {
          opacity: 0.5;
        }
      }
    }
  }
}

.articles_holder {
  min-height: 500px;
}

.animated_slot_machine {
  position: relative;
  width:560px;
  .outer_border {
    position: absolute;
    left: 0;
    top: 55px;
    border-radius: 1rem;
    border: 1px solid #34D399;
    width: 560px;
    height: 500px;
  }
  .top_wide_border_segment {
    position: absolute;
    left: 120px;
    top: 47px;
    width: 320px;
    height: 16px;
    border-radius: 8px;
    background-color: #34D399;
  }

  .top_bottom_border_segment {
    position: absolute;
    left: 35px;
    top: 547px;
    width: 270px;
    height: 16px;
    border-radius: 8px;
    background-color: #34D399;
  }
  .input_border {
    border-radius: 1rem;
    border: 2px solid #34D399;
  }

  .price_input {
    position: absolute;
    left: 175px;
    top: 22px;
    width: 210px;
    height: 64px;
    border-radius: 8px;
    opacity: 1 !important;
  }

  .price_input:disabled {
    opacity: 1 !important;
  }

  .ram_input {
    position: absolute;
    left: 190px;
    top: 531px;
    width: 90px;
    height: 48px;
    border-radius: 8px;
  }
  .cpu_input {
    position: absolute;
    left: 70px;
    top: 531px;
    width: 90px;
    height: 48px;
    border-radius: 8px;
  }
  .price_div {
    position: absolute;
    left: 220px;
    top: -10px;
  }
  .cpu_div {
    position: absolute;
    left: 100px;
    top: 585px;
  }
  .ram_div {
    position: absolute;
    left: 200px;
    top: 585px;
  }
  .spinner_box_1 {
    position: absolute;
    left: 20px;
    top: 95px;
    width: 150px;
    height: 200px;
  }
  .spinner_box_2 {
    position: absolute;
    left: 202.5px;
    top: 95px;
    width: 200px;
    height: 200px;
  }
  .spinner_box_3 {
    position: absolute;
    left: 390px;
    top: 95px;
    width: 200px;
    height: 200px;
  }

  .spinner_holder {
    position: relative;
    height: 400px;
    width: 145px;
    background: linear-gradient(0deg,#082F49 10%, #34D399 50%, #082F49 100%);
    overflow: hidden;
    z-index: 2;

    .ring_lines {
      position: absolute;
      top: 130px;
      width: 145px;
      height: 140px;
      border-top: 1px solid #34D399;
      border-bottom: 1px solid #34D399;
    }

  }
  .spin_ring {
    position: absolute;
    top: 132px;
    width: 142px;
    height: 135px;
    margin: 0 auto;
    float: left;
    transform-style: preserve-3d;
    z-index: 1;

    .slot {
      position: absolute;
      width: 142px;
      height: 135px;
      box-sizing: border-box;
      opacity: 0.9;
      color: rgba(255,255,255,0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      -webkit-backface-visibility: hidden;
         -moz-backface-visibility: hidden;
              backface-visibility: hidden;

    }

    .slot_inner {
      height: 100%;
      width: calc(100% - 1rem);
      margin: 0.5rem 0.5rem;
      border-radius: 1rem;
      background: transparent;
      color: #ccc;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .container {
    position: absolute;
    left: 350px;
    top: 526px;
    width: 150px;
    height: 60px;
  }

  .container > .button {
    width: calc(100% - 0.25rem);
    height: 50px;
    border: none;
    color: #fff;
    letter-spacing: .2rem;
    background-color: #ef0040;
    border: 1px solid #c3002b;
    border-radius: 15px;
    transform: translateY(0);
    -moz-transition: transform 250ms ease-in-out;
    -webkit-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    z-index: 3;
    position: absolute;
    left: 2px;
  }
  .container > .button:hover {
    background-color: #a70012;
    text-shadow: 0px 0px 60px white, 0px 0px 40px white, 0 0 20px white;
    border: 1px solid #800000;
  }
  .container > .button:disabled {
    background-color: #7c0023;
    border: 1px solid #500000;
    text-shadow: none;
    color: #7a373c;
  }

  .container .button__bottom {
    width: 100%;
    height: 58px;
    top: 6px;
    background-color: #660010;
    border-radius: 10px 10px 15px 15px;
    transform: translateY(0);
    -moz-transition: transform 250ms ease-in-out;
    -webkit-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    position: absolute;
    z-index: 2;
  }
  .container .button__bottom[disabled=true] {
    background-color: #440000;
  }

  .cpu_input:disabled {
    @apply text-gray-200;
  }

  .ram_input:disabled {
    @apply text-gray-200;
  }

}
