

.content_section {
  @apply bg-primary;
  @apply text-white;

  padding: 4rem 2rem;
}

.content_section:nth-child(2n) {
  @apply bg-secondary;
}

.content_section:not(:first-child) {
  border-top: 1px solid#34D399;
}

.repo_table {
  @apply w-full;

  thead {
    @apply border-b border-emerald-400 border-solid;
    th {
      @apply text-left px-5 py-3 font-normal text-xs;

    }
  }

  tbody {
    tr:nth-child(2n+1) {
      @apply bg-primary;
    }
    tr:nth-child(2n) {
      @apply bg-secondary;
    }

    tr {
      td {
        @apply px-5 py-3 text-left text-sm;
      }
    }
  }
}

.articles_holder {
  min-height: 500px;
}

