<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="w-full bg-primary">
  <div class="content pt-16 pb-16 text-white">
    <app-breadcrumbs [segments]="breadcrumbs"></app-breadcrumbs>

    <div *ngIf="serverDetails"
      class="mx-2 xl:mx-0 flex flex-wrap justify-between rounded-lg gap-8 px-6 py-6 bg-secondary border-emerald-400 border boder-solid mt-12"  >
      <div class="flex gap-8 flex-grow lg:w-1/2 w-full" >
        <div class="flex gap-4 flex-col min-w-32">
          <div class="min-w-20 w-20 h-20 bg-white rounded-lg mx-auto">
            <img src="{{serverDetails.vendor.logo}}" alt="logo">
          </div>

        </div>
        <div class="flex flex-col gap-3">
          <h1 class="text-2xl" > <span class="text-emerald-400 font-bold">{{serverDetails.display_name}}</span> by {{serverDetails.vendor.name}} </h1>
          <div> {{description}} </div>
          <div class="flex gap-4">
            <a class="btn-primary py-3 px-5 flex gap-2"
               [href]="serverDetails.vendor.homepage" target="_blank" rel="nofollow noopener">
              <span> Visit Vendor </span>
              <lucide-icon name="external-link" class="h-6 w-6"></lucide-icon>
            </a>
            <a class="btn-primary py-3 px-5 flex gap-2"
               [href]="serverDetails.vendor.status_page" target="_blank" rel="nofollow noopener">
              <span> Status Page </span>
              <lucide-icon name="external-link" class="h-6 w-6"></lucide-icon>
            </a>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-2/5 flex ">
        <div class="w-1/2 mr-8">
          <div *ngFor="let item of features, let i = index">
            <div *ngIf="i !== 0" class="w-full h-4 mb-3 border-b border-gray-400 border-solid" ></div>
            <div class="flex gap-2 text-xl items-center text-gray-200">
              <div class="px-1 py-1 rounded-full bg-teal-500 h-6 w-6">
              <lucide-icon name="check" class="h-4 w-4"></lucide-icon>
              </div>
              <b> {{item.value}} </b>
              <span> {{item.name}} </span>
            </div>
          </div>
        </div>

        <div class="border-r border-solid border-emerald-400 h-full w-1" > </div>

        <div class="w-1/2 flex flex-col gap-4 text-center ml-8">
          <div class="text-white text-3xl font-semibold" >Spare <span class="text-emerald-400 "> SC</span>ore </div>
          <div class="flex flex-col gap-4">
            <div class=" text-gray-200">
              <span class="text-3xl text-emerald-400 font-semibold">{{getBenchmark(true)}}</span><br>
              (All-cores)
            </div>
            <div class="text-gray-200" >
              <span class="text-xl">{{getBenchmark(false)}}</span><br>
              (Single-core)
            </div>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="serverDetails" class="mx-2 xl:mx-0 flex flex-wrap gap-8">
      <div class="my-8 w-full">
        <h2 class="text-3xl font-bold"> Specifications </h2>
      </div>
      <div class="block_half" id="details">
        <h3 class="text-2xl" >Server Details</h3>
        <table class="items_table" *ngFor="let item of instancePropertyCategories">
          <thead *ngIf="item.properties.length">
            <tr>
              <th>{{item.name}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let property of item.properties">
              <td>
                <div class="flex gap-2 items-center">
                  <b>{{property.name}}</b>
                  <lucide-icon
                    *ngIf="property.description"
                    name="info"
                    class="h-4 w-4 text-gray-200"
                    (mouseenter)="showTooltip($event, property.description)"
                    (mouseleave)="hideTooltip()">
                  </lucide-icon>
                </div>
              </td>
              <td> {{getProperty(property)}} </td>
            </tr>
          </tbody>
        </table>


        <div class="absolute bottom-0 left-0 w-full py-3 flex justify-center" id="details_more"
            style="background: linear-gradient(360deg, #06263A 23.44%, rgba(6, 38, 58, 0) 100%);" >
          <button class="btn-primary py-2 px-3" (click)="openBox('details')"
                  data-ph-capture-attribute-sc-event="server details show more server details">
            View more details
          </button>
        </div>
        <div class="w-full pt-3 flex justify-center hidden" id="details_less">
          <button class="btn-primary py-2 px-3" (click)="openBox('details')"
                  data-ph-capture-attribute-sc-event="server details show less server details">
            Show less
          </button>
        </div>
      </div>

      <div class="block_half" id="availability">
        <h3 class="text-2xl">Availability</h3>
        <table class="items_table">
          <thead>
            <tr>
              <th>REGION</th>
              <th>SPOT</th>
              <th>ONDEMAND</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of availabilityRegions">
              <td> <b>{{item.display_name}}</b> </td>
              <td *ngIf="item['spot']"> ${{item['spot'].price}}/{{item['spot'].unit}}</td>
              <td *ngIf="!item['spot']"> - </td>
              <td *ngIf="item['ondemand']"> ${{item['ondemand'].price}}/{{item['ondemand'].unit}}</td>
              <td *ngIf="!item['ondemand']"> - </td>
            </tr>
          </tbody>
        </table>
        <div class="absolute bottom-0 laft-0 w-full py-3 flex justify-center" id="availability_more"
            style="background: linear-gradient(360deg, #06263A 23.44%, rgba(6, 38, 58, 0) 100%);" >
          <button class="btn-primary py-2 px-3" (click)="openBox('availability')"
                  data-ph-capture-attribute-sc-event="server details show more availability">
            Show more
          </button>
        </div>
        <div class="w-full pt-3 flex justify-center hidden" id="availability_less">
          <button class="btn-primary py-2 px-3" (click)="openBox('availability')"
                  data-ph-capture-attribute-sc-event="server details show less availability">
            Show less
          </button>
        </div>
      </div>


      <div class="my-2 w-full">
        <h2 class="text-3xl font-bold"> Economics </h2>
      </div>

      <div class="block_full">
        <div class="flex justify-between items-center">
          <h3 class="text-2xl" >Average Price per Region</h3>
          <div>
            <button
              id="allocation_button"
              data-ph-capture-attribute-sc-event="server details price allocation select"
              data-dropdown-toggle="allocation_options"
              class="dropdown_button"
              type="button">
              <div class="px-3 py-2">
                Allocation
              </div>
              <div class="px-3 py-2 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
                <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
              </div>
            </button>
          </div>
        </div>
        <div *ngIf="isBrowser()">
          <div chartType="bar">
            <canvas
              style="height: 350px; width:100%"
              baseChart
              [data]="barChartData"
              [options]="barChartOptions"
              [type]="barChartType"
            >
            </canvas>
          </div>
        </div>
      </div>

      <div class="block_half">
        <div class="flex justify-between items-center">
          <h3 class="text-2xl" >Prices per Zone</h3>
          <div class="flex gap-4">
            <button
              id="allocation_button2"
              data-ph-capture-attribute-sc-event="server details price allocation select"
              data-dropdown-toggle="allocation_options2"
              class="dropdown_button"
              type="button">
              <div class="px-3 py-2">
                Allocation
              </div>
              <div class="px-3 py-2 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
                <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
              </div>
            </button>
            <button
              id="region_button"
              data-ph-capture-attribute-sc-event="server details regions select"
              data-dropdown-toggle="region_options"
              class="dropdown_button"
              type="button">
              <div class="px-3 py-2">
                Regions
              </div>
              <div class="px-3 py-2 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
                <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
              </div>
            </button>
          </div>
        </div>
        <div *ngIf="isBrowser()">
          <div chartType="bar">
            <canvas
              style="height: 350px; width:100%"
              baseChart
              [data]="barChartData2"
              [options]="barChartOptions"
              [type]="barChartType"
            >
            </canvas>
          </div>
        </div>
      </div>
      <div class="block_half">
        <h3 class="text-2xl" >Lowest Prices</h3>
        <div *ngIf="isBrowser()">
          <div chartType="bar">
            <canvas
              style="height: 350px; width:100%"
              baseChart
              [data]="barChartData3"
              [options]="barChartOptions"
              [type]="barChartType"
            >
            </canvas>
          </div>
        </div>
      </div>

      <div class="my-2 w-full" *ngIf="serverDetails.benchmark_scores?.length">
        <h2 class="text-3xl font-bold"> Performance </h2>
      </div>

      <div class="block_half" *ngIf="lineChartDataBWmem">
        <h3 class="text-2xl flex items-center gap-2" >Memory bandwidth
          <lucide-icon
            name="info"
            class="h-4 w-4 text-gray-200"
            (mouseenter)="showTooltipChart($event, 'bw_mem')"
            (mouseleave)="hideTooltip()">
          </lucide-icon>
        </h3>
        <div *ngIf="isBrowser()">
          <div chartType="bar">
            <canvas
              style="height: 350px; max-width:100%"
              baseChart
              [data]="lineChartDataBWmem"
              [options]="lineChartOptionsBWMem"
              [type]="lineChartType"
            >
            </canvas>
          </div>
        </div>
      </div>
      <div class="block_half" *ngIf="lineChartDataCompress">
        <div class="flex justify-between items-center">
          <h3 class="text-2xl flex items-center gap-2" >
            Compression
            <lucide-icon
              name="info"
              class="h-4 w-4 text-gray-200"
              (mouseenter)="showTooltipChart($event, selectedCompressMethod.key)"
              (mouseleave)="hideTooltip()">
            </lucide-icon>
          </h3>
          <div class="flex gap-4">
            <button
              id="compress_method_button"
              data-ph-capture-attribute-sc-event="server details price allocation select"
              data-dropdown-toggle="compress_method_options"
              class="dropdown_button"
              type="button">
              <div class="px-3 py-2">
                {{selectedCompressMethod.name}}
              </div>
              <div class="px-3 py-2 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
                <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
              </div>
            </button>
          </div>
        </div>
        <div *ngIf="isBrowser()">
          <div chartType="bar">
            <canvas
              style="height: 350px; max-width:100%"
              baseChart
              [data]="lineChartDataCompress"
              [options]="lineChartOptionsCompress"
              [type]="lineChartType"
            >
            </canvas>
          </div>
        </div>
      </div>
      <div class="block_half_taller" *ngIf="radarChartDataGeekSingle">
        <div class="flex justify-between items-center">
          <h3 class="text-2xl flex items-center gap-2" >
            Geekbench Single-Core
            <lucide-icon
              name="info"
              class="h-4 w-4 text-gray-200"
              (mouseenter)="showTooltipGB($event)"
              (mouseleave)="hideTooltipGB()">
            </lucide-icon>
          </h3>
          <div class="py-2 px-2 border-emerald-400 border-solid rounded-lg border">
            Score: {{geekScoreSingle}}
          </div>
        </div>
        <div *ngIf="isBrowser()">
          <div chartType="bar">
            <canvas
              #chartPriceLowest
              id="chartPriceLowest"
              style="max-height: 530px; max-width:100%"
              baseChart
              [data]="radarChartDataGeekSingle"
              [options]="radarChartOptions"
              [type]="radarChartType"
            >
            </canvas>
          </div>
        </div>
      </div>
      <div class="block_half_taller" *ngIf="radarChartDataGeekMulti">
        <div class="flex justify-between items-center">
          <h3 class="text-2xl flex items-center gap-2" >
            Geekbench Multi-Core
            <lucide-icon
              name="info"
              class="h-4 w-4 text-gray-200"
              (mouseenter)="showTooltipGB($event)"
              (mouseleave)="hideTooltipGB()">
            </lucide-icon>
          </h3>
          <div class="py-2 px-2 border-emerald-400 border-solid rounded-lg border">
            Score: {{geekScoreMulti}}
          </div>
        </div>
        <div *ngIf="isBrowser()">
          <div chartType="bar">
            <canvas
              style="max-height: 530px; max-width:100%"
              baseChart
              [data]="radarChartDataGeekMulti"
              [options]="radarChartOptions"
              [type]="radarChartType"
            >
            </canvas>
          </div>
        </div>
      </div>

      <div class="block_full" *ngIf="barChartDataSSL">
        <div class="flex justify-between items-center">
          <h3 class="text-2xl flex items-center gap-2" >
            OpenSSL
            <lucide-icon
              name="info"
              class="h-4 w-4 text-gray-200"
              (mouseenter)="showTooltipChart($event, 'openssl')"
              (mouseleave)="hideTooltip()">
            </lucide-icon>
          </h3>
        </div>
        <div *ngIf="isBrowser()">
          <div chartType="bar">
            <canvas
              style="height: 350px; width:100%"
              baseChart
              [data]="barChartDataSSL"
              [options]="barChartOptionsSSL"
              [type]="barChartType"
            >
            </canvas>
          </div>
        </div>
      </div>

      <div class="my-2 w-full">
        <h2 class="text-3xl font-bold"> Alternatives </h2>
      </div>

      <div class="block_half">
          <h3 class="text-2xl">Servers of the Same Family</h3>
          <table class="items_table">
            <thead>
              <tr>
                <th>INSTANCE</th>
                <th>VCPUs</th>
                <th>MEMORY</th>
                <th>GPUs</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of similarByFamily">
                <td>
                  <a
                    class="underline decoration-dotted hover:text-gray-500"
                    routerLink="/server/{{item.vendor_id}}/{{item.server_id}}">
                    {{item.display_name}}
                  </a>
                </td>
                <td> {{item.vcpus}}</td>
                <td> {{getMemory(item.memory_amount)}}</td>
                <td> {{item.gpu_count}}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="block_half">
        <h3 class="text-2xl" >Similar Servers </h3>
        <table class="items_table">
          <thead>
            <tr>
              <th>INSTANCE</th>
              <th>VENDOR</th>
              <th>VCPUs</th>
              <th>MEMORY</th>
              <th>GPUs</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of similarByPerformance">
              <td>
                <a
                class="underline decoration-dotted hover:text-gray-500"
                routerLink="/server/{{item.vendor_id}}/{{item.server_id}}">
                {{item.display_name}}
                </a> </td>
              <td> {{item.vendor_id}}</td>
              <td> {{item.vcpus}}</td>
              <td> {{getMemory(item.memory_amount)}}</td>
              <td> {{item.gpu_count}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div *ngIf="serverDetails" class="my-8 w-1/2 m-auto">
      <app-faq
        [FAQQuestions]="faqs"
        [item]="serverDetails.display_name"
      ></app-faq>
    </div>

  </div>
</div>


 <!-- Dropdown menu -->
 <div id="allocation_options" class="z-10 hidden bg-secondary rounded-lg shadow w-44 border border-emerald-400 border-solid">
  <ul class="py-2 px-1 text-sm text-gray-700" aria-labelledby="dropdownDefaultButton">
    <li *ngFor="let item of allocationFilters" class="flex py-1 gap-2 items-center">
        <input type="checkbox"
        id="filter_allocation"
        [(ngModel)]="item.selected"
        (ngModelChange)="refreshGraphs()"
        class="focus:ring-emerald-400 accent-emerald-400 text-emerald-400 outline-none cursor-pointer" >
        <div class="text-white text-sm">{{item.name}}</div>
    </li>
  </ul>
</div>

<div id="allocation_options2" class="z-10 hidden bg-secondary rounded-lg shadow w-44 border border-emerald-400 border-solid">
  <ul class="py-2 px-1 text-sm text-gray-700" aria-labelledby="dropdownDefaultButton">
    <li *ngFor="let item of allocationFilters" class="flex py-1 gap-2 items-center">
        <input type="checkbox"
        id="filter_allocation_2"
        [(ngModel)]="item.selected"
        (ngModelChange)="refreshGraphs()"
        class="focus:ring-emerald-400 accent-emerald-400 text-emerald-400 outline-none cursor-pointer" >
        <div class="text-white text-sm">{{item.name}}</div>
    </li>
  </ul>
</div>

 <!-- Dropdown menu -->
 <div id="region_options" class="z-10 hidden bg-secondary rounded-lg shadow w-44 border border-emerald-400 border-solid">
  <ul class="py-2 px-1 text-sm text-gray-700" aria-labelledby="dropdownDefaultButton">
    <li *ngFor="let item of regionFilters" class="flex py-1 gap-2 items-center">
        <input type="checkbox"
        id="filter_region"
        [(ngModel)]="item.selected"
        (ngModelChange)="refreshGraphs()"
        class="focus:ring-emerald-400 accent-emerald-400 text-emerald-400 outline-none cursor-pointer" >
        <div class="text-white text-sm">{{item.name}}</div>
    </li>
  </ul>
</div>

<div id="compress_method_options" class="z-10 hidden bg-secondary rounded-lg shadow w-44 border border-emerald-400 border-solid">
  <ul class="py-2 px-1 text-sm text-gray-700" aria-labelledby="dropdownDefaultButton">
    <li *ngFor="let item of compressMethods" class="flex py-1 gap-2 items-center">
        <div
          class="text-emerald-400 hover:text-emerald-500 cursor-pointer font-bold ml-2"
          (click)="refreshCompressChart(item)">
          {{item.name}}
        </div>
    </li>
  </ul>
</div>

<div id="tooltipDefault"
  #tooltipDefault
  style="opacity: 0;"
  class="max-w-225 absolute z-10 inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-secondary border border-solid border-emerald-400 rounded-lg">
  {{tooltipContent}}
</div>

<div id="tooltipGeekbench"
  #tooltipGeekbench
  style="opacity: 0;"
  class="absolute z-10 inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-secondary border border-solid border-emerald-400 rounded-lg">
  <div [innerHTML]="geekbenchHTML" ></div>
</div>
