.content {
  min-height: 75vh;
}

:host ::ng-deep .block_half {
  @apply px-6 py-6 bg-secondary border-emerald-400 border border-solid rounded-lg flex flex-col gap-4 relative overflow-hidden;
  width: calc(50% - 1rem);
  min-height: 460px;
  height: 460px;
  .chart_div {
    max-height: 350px !important;
    height: 350px !important;
    max-width: 100% !important;
  }
}

:host ::ng-deep .block_half_taller {
  @apply px-6 py-6 bg-secondary border-emerald-400 border border-solid rounded-lg flex flex-col relative overflow-hidden;
  width: calc(50% - 1rem);
  min-height: 615px;
  height: 615px;
  margin: auto;
  .chart_div {
    max-height: 530px;
    height: 530px !important;
    max-width: 100% !important;
    display: flex;
    justify-content: center;
  }
}

:host ::ng-deep .block_full {
  @apply px-6 py-6 bg-secondary border-emerald-400 border border-solid rounded-lg flex flex-col gap-4 relative overflow-hidden;
  width: calc(100%);
  min-height: 460px;
  height: 460px;
  .chart_div {
    max-height: 350px;
    height: 350px !important;
    max-width: 100% !important;
  }
}

:host ::ng-deep .block_half.open {
  height: unset !important;
}

.dropdown_button {
  @apply text-white bg-emerald-400 hover:bg-emerald-500 focus:outline-none font-medium rounded-lg text-sm text-center inline-flex items-center border-emerald-400 border-solid border;
  transition-duration: 0.15s;
  transition-property: background-color, border-color, box-shadow, color;
  transition-timing-function: ease-in;
}

.items_table {
  @apply w-full text-white;

  thead {
    th {
      @apply bg-secondary border-b border-gray-200 border-solid text-left px-5 py-3 font-normal;
    }
  }

  tbody {
    tr {
      @apply bg-secondary border-b border-gray-200 border-solid;
    }

    tr {
      td {
        @apply px-5 py-3 text-left text-sm;
      }
      td.fixed_width {
        width: 250px;
      }
    }
  }
}

.items_table_similar {
  @apply w-full text-white;

  thead {
    th {
      @apply bg-secondary border-b border-gray-200 border-solid text-left px-5 py-3 font-normal;
    }
  }

  tbody {
    tr:not(:last-child) {
      @apply bg-secondary border-b border-gray-200 border-solid;
    }

    tr {
      td {
        @apply px-5 py-3 text-left text-sm;
      }
      td.fixed_width {
        width: 250px;
      }
    }
  }
}

div.giscus {
  margin-top: 35px;
}

#toast-danger {
  position: fixed;
  top: 3rem;
  right: 1rem;
  z-index: 200;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
  display: none;
  /* other styles... */
}

#toast-danger.show {
  transform: translateX(0);
  display: flex;
}

::ng-deep .property_value {
  ul {
    list-style-type: disc;
    list-style-position: inside;
    li {
      margin-bottom: 0.25rem;
    }
  }
}

@media screen and (max-width: 800px) {
  :host ::ng-deep .block_half {
    width: calc(100%);
    margin: auto;
  }

  :host ::ng-deep .block_half_taller {
    width: calc(100%);
    margin: auto;
  }
}
