<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="w-full bg-primary">
  <div class="content pt-16 pb-16 text-white">
    <app-breadcrumbs [segments]="breadcrumbs"></app-breadcrumbs>

    <div *ngIf="isLoading" class="flex justify-center items-center mt-12">
      <div class="flex items-center gap-3">
        <svg aria-hidden="true" class="inline w-8 h-8 text-gray-200 animate-spin fill-emerald-400" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
        <span class="text-2xl">Loading server data...</span>
      </div>
    </div>

    <div *ngIf="!isLoading && !serverDetails" class="flex justify-center items-center mt-12">
      <div class="text-2xl text-red-400">{{keeperResponseErrorMsg}}</div>
    </div>

    <div *ngIf="serverDetails"
      id="server_base_info_box"
      class="mx-2 xl:mx-0 flex flex-wrap justify-between rounded-lg gap-8 px-6 py-6 bg-secondary border-emerald-400 border boder-solid mt-12"  >
      <div class="flex gap-8 flex-grow lg:w-1/2 w-full" >
        <div class="flex gap-4 flex-col min-w-32">
          <div class="min-w-20 w-20 h-20 bg-white rounded-lg mx-auto">
            <img src="{{serverDetails.vendor.logo}}" alt="logo">
          </div>

        </div>
        <div class="flex flex-col gap-3">
          <h1 class="text-2xl" > <span class="text-emerald-400 font-bold">{{serverDetails.display_name}}</span> by {{serverDetails.vendor.name}} </h1>
          <div> {{description}} </div>
          <div class="flex gap-4">
            <button class="btn-primary py-3 px-5 flex gap-2" (click)="addToCompare()">
              <span> {{compareText()}} </span>
              <lucide-icon name="scale" class="h-6 w-6"></lucide-icon>
            </button>
            <a class="btn-primary-outline py-3 px-5 flex gap-2"
               [href]="serverDetails.vendor.homepage" target="_blank" rel="nofollow noopener">
              <span> Visit Vendor </span>
              <lucide-icon name="external-link" class="h-6 w-6"></lucide-icon>
            </a>

            <a class="btn-primary-outline py-3 px-5 flex gap-2"
               [href]="serverDetails.vendor.status_page" target="_blank" rel="nofollow noopener">
              <span> Status Page </span>
              <lucide-icon name="external-link" class="h-6 w-6"></lucide-icon>
            </a>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-2/5 flex ">
        <div class="w-1/2 mr-8">
          <div *ngFor="let item of features, let i = index">
            <div *ngIf="i !== 0" class="w-full h-4 mb-3 border-b border-gray-400 border-solid" ></div>
            <div class="flex gap-2 text-xl items-center text-gray-200">
              <div class="px-1 py-1 rounded-full bg-teal-500 h-6 w-6">
              <lucide-icon name="check" class="h-4 w-4"></lucide-icon>
              </div>
              <b> {{item.value}} </b>
              <span> {{item.name}} </span>
            </div>
          </div>
        </div>

        <div class="border-r border-solid border-emerald-400 h-full w-1" > </div>

        <div class="w-1/2 flex flex-col gap-4 text-center ml-8">
          <div class="text-white text-3xl font-semibold" >Spare <span class="text-emerald-400 "> SC</span>ore </div>
          <div class="flex flex-col gap-4">
            <div class=" text-gray-200">
              <span class="text-3xl text-emerald-400 font-semibold">{{getBenchmark(true)}}</span><br>
              (All-cores)
            </div>
            <div class="text-gray-200" >
              <span class="text-xl">{{getBenchmark(false)}}</span><br>
              (Single-core)
            </div>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="serverDetails" class="mx-2 xl:mx-0 flex flex-wrap gap-8">
      <div class="my-8 w-full">
        <h2 class="text-3xl font-bold"> Specifications </h2>
      </div>
      <div class="block_half" id="details">
        <h3 class="text-2xl">Server Details</h3>
        <table class="items_table" *ngFor="let item of instancePropertyCategories">
          <thead *ngIf="item.properties.length">
            <tr>
              <th>{{item.name}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let property of item.properties">
              <td class="fixed_width">
                <div class="flex gap-2 items-center">
                  <b>{{property.name}}</b>
                  <lucide-icon
                    *ngIf="property.description"
                    name="info"
                    class="h-4 w-4 text-gray-200"
                    (mouseenter)="showTooltip($event, property.description)"
                    (mouseleave)="hideTooltip()">
                  </lucide-icon>
                </div>
              </td>
              <td>
                <div class="property_value" [innerHTML]="getProperty(property)" ></div>
              </td>
            </tr>
          </tbody>
        </table>


        <div class="absolute bottom-0 left-0 w-full py-3 flex justify-center" id="details_more"
            style="background: linear-gradient(360deg, #06263A 23.44%, rgba(6, 38, 58, 0) 100%);" >
          <button class="btn-primary py-2 px-3" (click)="openBox('details')"
                  id="details_more_button"
                  data-ph-capture-attribute-sc-event="server details show more server details">
            View more details
          </button>
        </div>
        <div class="w-full pt-3 flex justify-center hidden" id="details_less">
          <button class="btn-primary py-2 px-3" (click)="openBox('details')"
                  id="details_less_button"
                  data-ph-capture-attribute-sc-event="server details show less server details">
            Show less
          </button>
        </div>
      </div>

      <div class="block_half" id="availability">
        <h3 class="text-2xl">Availability</h3>
        <table class="items_table">
          <thead>
            <tr>
              <th>REGION / ID</th>
              <th>SPOT</th>
              <th>ONDEMAND</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of availabilityRegions" id="availability_line">
              <td>
                  <div><b>{{item.display_name}}</b> / {{item.api_reference}} </div>
              </td>
              <td *ngIf="item['spot'].price"> {{item['spot'].price}} {{item['spot'].currency}}/{{item['spot'].unit | reduceUnitName}}</td>
              <td *ngIf="!item['spot'].price"> - </td>
              <td *ngIf="item['ondemand'].price"> {{item['ondemand'].price}} {{item['ondemand'].currency}}/{{item['ondemand'].unit | reduceUnitName}}</td>
              <td *ngIf="!item['ondemand'].price"> - </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="availabilityRegions.length > 7" class="absolute bottom-0 laft-0 w-full py-3 flex justify-center" id="availability_more"
            style="background: linear-gradient(360deg, #06263A 23.44%, rgba(6, 38, 58, 0) 100%);" >
          <button class="btn-primary py-2 px-3" (click)="openBox('availability')"
                  id="availability_more_button"
                  data-ph-capture-attribute-sc-event="server details show more availability">
            Show more
          </button>
        </div>
        <div class="w-full pt-3 flex justify-center hidden" id="availability_less">
          <button class="btn-primary py-2 px-3" (click)="openBox('availability')"
                  data-ph-capture-attribute-sc-event="server details show less availability">
            Show less
          </button>
        </div>
      </div>


      <div class="my-2 w-full">
        <h2 class="text-3xl font-bold"> Economics </h2>
      </div>

      <div class="block_full">
        <div class="flex justify-between items-center">
          <h3 class="text-2xl" >Average Price per Region</h3>
          <div>
            <button
              id="allocation_button"
              data-ph-capture-attribute-sc-event="server details price allocation select"
              data-dropdown-toggle="allocation_options"
              class="dropdown_button"
              type="button">
              <div class="px-3 py-2">
                Allocation
              </div>
              <div class="px-3 py-2 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
                <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
              </div>
            </button>
          </div>
        </div>
        <div *ngIf="isBrowser()">
          <div chartType="bar" id="price_chart">
            <canvas
              style="height: 350px; width:100%"
              baseChart
              [data]="barChartData"
              [options]="barChartOptions"
              [type]="barChartType"
            >
            </canvas>
          </div>
        </div>
      </div>

      <div class="block_half">
        <div class="flex justify-between items-center">
          <h3 class="text-2xl" >Prices per Zone</h3>
          <div class="flex gap-4">
            <button
              id="allocation_button2"
              data-ph-capture-attribute-sc-event="server details price allocation select"
              data-dropdown-toggle="allocation_options2"
              class="dropdown_button"
              type="button">
              <div class="px-3 py-2">
                Allocation
              </div>
              <div class="px-3 py-2 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
                <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
              </div>
            </button>
            <button
              id="region_button"
              data-ph-capture-attribute-sc-event="server details regions select"
              data-dropdown-toggle="region_options"
              class="dropdown_button"
              type="button">
              <div class="px-3 py-2">
                Regions
              </div>
              <div class="px-3 py-2 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
                <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
              </div>
            </button>
          </div>
        </div>
        <div *ngIf="isBrowser()">
          <div chartType="bar">
            <canvas
              style="height: 350px; width:100%"
              baseChart
              [data]="barChartData2"
              [options]="barChartOptions"
              [type]="barChartType"
            >
            </canvas>
          </div>
        </div>
      </div>
      <div class="block_half">
        <h3 class="text-2xl" >Lowest Prices</h3>
        <div *ngIf="isBrowser()">
          <div chartType="bar">
            <canvas
              style="height: 350px; width:100%"
              baseChart
              [data]="barChartData3"
              [options]="barChartOptions"
              [type]="barChartType"
            >
            </canvas>
          </div>
        </div>
      </div>

      <div class="my-2 w-full flex justify-between items-center" *ngIf="serverDetails.benchmark_scores?.length">
        <h2 class="text-3xl font-bold"> Performance </h2>
        <button class="btn-primary py-3 px-5 flex gap-2" (click)="openModal()">
          <span> Embed chart </span>
          <lucide-icon name="copy" class="h-6 w-6"></lucide-icon>
        </button>
      </div>
      <app-server-charts
        class="w-full flex flex-wrap gap-8"
        [serverDetails]="serverDetails"
        [benchmarksByCategory]="benchmarksByCategory"
        [benchmarkMeta]="benchmarkMeta"
      ></app-server-charts>

      <div class="my-2 w-full">
        <h2 class="text-3xl font-bold"> Alternatives </h2>
      </div>

      <div class="block_half">
          <div class="flex items-center" style="min-height: 42px;">
            <h3 class="text-2xl">Servers of the Same Family</h3>
          </div>
          <table class="items_table_similar" id="similar_family_table">
            <thead>
              <tr>
                <th>INSTANCE</th>
                <th>vCPUs</th>
                <th>MEMORY</th>
                <th>GPUs</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of similarByFamily" id="similar_family_line">
                <td>
                  <a
                    class="underline decoration-dotted hover:text-gray-500"
                    routerLink="/server/{{item.vendor_id}}/{{item.api_reference}}">
                    {{item.display_name}}
                  </a>
                </td>
                <td> {{item.vcpus}}</td>
                <td> {{getMemory(item.memory_amount)}}</td>
                <td> {{item.gpu_count}}</td>
              </tr>
            </tbody>
          </table>
      </div>
      <div class="block_half">
        <div class="flex justify-between items-center">
          <h3 class="text-2xl" >Similar Servers </h3>
          <div class="flex gap-4">
            <button
              id="similar_type_button"
              data-ph-capture-attribute-sc-event="server similar options select"
              class="dropdown_button"
              type="button">
              <div class="px-3 py-2">
                {{selectedSimilarOption.name}}
              </div>
              <div class="px-3 py-2 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
                <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
              </div>
            </button>
          </div>
        </div>
        <table class="items_table_similar" id="similar_table">
          <thead>
            <tr>
              <th>INSTANCE</th>
              <th>VENDOR</th>
              <th>vCPUs</th>
              <th>MEMORY</th>
              <th *ngIf="selectedSimilarOption.key === 'bySpecs'">GPUs</th>
              <th *ngIf="selectedSimilarOption.key === 'byScore'">SCORE</th>
              <th *ngIf="selectedSimilarOption.key === 'byPerformancePerPrice'">$CORE</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of similarServers" id="similar_line">
              <td>
                <a
                class="underline decoration-dotted hover:text-gray-500"
                routerLink="/server/{{item.vendor_id}}/{{item.api_reference}}">
                {{item.display_name}}
                </a> </td>
              <td> {{item.vendor_id}}</td>
              <td> {{item.vcpus}}</td>
              <td> {{getMemory(item.memory_amount)}}</td>
              <td *ngIf="selectedSimilarOption.key === 'bySpecs'">{{item.gpu_count}}</td>
              <td *ngIf="selectedSimilarOption.key === 'byScore'">{{item.score?.toFixed(0) || '0'}}</td>
              <td *ngIf="selectedSimilarOption.key === 'byPerformancePerPrice'">{{item.score_per_price?.toFixed(0) || '0'}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>

    <div *ngIf="serverDetails" #giscusParent class="my-8 w-1/2 m-auto">
      <app-faq
        [activeFAQ]="activeFAQ"
        [FAQQuestions]="faqs"
        [item]="serverDetails.display_name"
        (activeFAQChanged)="activeFAQChanged($event)"
      ></app-faq>

      <div class="giscus"></div>

    </div>

  </div>
</div>


 <!-- Dropdown menu -->
 <div id="allocation_options" class="z-10 hidden bg-secondary rounded-lg shadow w-44 border border-emerald-400 border-solid">
  <ul class="py-2 px-1 text-sm text-gray-700" aria-labelledby="dropdownDefaultButton">
    <li *ngFor="let item of allocationFilters" class="flex py-1 gap-2 items-center">
        <input type="checkbox"
        id="filter_allocation"
        [(ngModel)]="item.selected"
        (ngModelChange)="refreshPricesGraphs()"
        class="focus:ring-emerald-400 accent-emerald-400 text-emerald-400 outline-none cursor-pointer" >
        <div class="text-white text-sm">{{item.name}}</div>
    </li>
  </ul>
</div>

<div id="allocation_options2" class="z-10 hidden bg-secondary rounded-lg shadow w-44 border border-emerald-400 border-solid">
  <ul class="py-2 px-1 text-sm text-gray-700" aria-labelledby="dropdownDefaultButton">
    <li *ngFor="let item of allocationFilters" class="flex py-1 gap-2 items-center">
        <input type="checkbox"
        id="filter_allocation_2"
        [(ngModel)]="item.selected"
        (ngModelChange)="refreshPricesGraphs()"
        class="focus:ring-emerald-400 accent-emerald-400 text-emerald-400 outline-none cursor-pointer" >
        <div class="text-white text-sm">{{item.name}}</div>
    </li>
  </ul>
</div>

 <!-- Dropdown menu -->
 <div id="region_options" class="z-10 hidden bg-secondary rounded-lg shadow w-44 border border-emerald-400 border-solid">
  <ul class="py-2 px-1 text-sm text-gray-700" aria-labelledby="dropdownDefaultButton">
    <li *ngFor="let item of regionFilters" class="flex py-1 gap-2 items-center">
        <input type="checkbox"
        id="filter_region"
        [(ngModel)]="item.selected"
        (ngModelChange)="refreshPricesGraphs()"
        class="focus:ring-emerald-400 accent-emerald-400 text-emerald-400 outline-none cursor-pointer" >
        <div class="text-white text-sm">{{item.name}}</div>
    </li>
  </ul>
</div>

<div id="similar_server_options" class="z-10 hidden bg-secondary rounded-lg shadow w-44 border border-emerald-400 border-solid">
  <ul class="py-2 px-1 text-sm text-gray-700" aria-labelledby="dropdownDefaultButton">
    <li *ngFor="let item of similarOptions" class="flex py-1 gap-2 items-center">
        <div
          class="text-emerald-400 hover:text-emerald-500 cursor-pointer font-bold ml-2"
          (click)="selectSimilarServerOption(item)">
          {{item.name}}
        </div>
    </li>
  </ul>
</div>

<div id="tooltipDefault"
  #tooltipDefault
  style="opacity: 0;"
  class="max-w-225 absolute z-10 inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-secondary border border-solid border-emerald-400 rounded-lg">
  {{tooltipContent}}
</div>

<div id="embed-charts-modal"
    tabindex="-1"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-4xl max-h-full">
      <div class="relative bg-secondary rounded-lg shadow border border-solid border-emerald-400 " >
          <div class="flex items-center justify-between p-2 md:p-5 border-b rounded-t">
              <h3 class="text-xl font-medium text-white dark:text-white">
                 Embed Chart
              </h3>
              <button type="button"
                      data-ph-capture-attribute-sc-event="embed chart modal close"
                      data-ph-capture-attribute-server-listing-search-prompt-action="close"
                      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                      (click)="closeModal(false)">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
          </div>
          <div class="space-y-4 flex flex-col">
              <app-embed-debug *ngIf="serverDetails"
                [id]="serverDetails.server_id"
                [vendor]="serverDetails.vendor_id"
                [isModal]="true"
                [charts]="embeddableCharts"
                >
              </app-embed-debug>
          </div>
      </div>
  </div>
</div>
