<nav class="bg-custom px-4 lg:px-6 py-2.5 w-full">
  <div class="content flex justify-between items-center w-full">
      <a routerLink="/" class="h-12" style="max-width: 284px; width: 284px">
        <img class="h-12" style="max-width: 284px; width: 284px"
             src="./assets/images/logos/logo_header.png"
             alt="Spare Cores Logo" />
      </a>
      <div class="justify-end items-center w-full flex w-auto order-1" id="mobile-menu-2">
          <ul class="flex font-medium flex-row space-x-8 mt-0 items-center">
              <li class="hidden lg:flex">
                  <a class="navbar_link" routerLink="/servers" >
                    <lucide-icon class="h-4 w-4" name="pc-case"></lucide-icon>
                    Servers
                  </a>
              </li>
              <li class="hidden lg:flex">
                <a class="navbar_link" routerLink="/datacenters" >
                  <lucide-icon class="h-4 w-4" name="hotel"></lucide-icon>
                  Datacenters
                </a>
              </li>
              <li class="hidden lg:flex">
                <a class="navbar_link" routerLink="/vendors" >
                  <lucide-icon class="h-4 w-4" name="home"></lucide-icon>
                  Vendors
                </a>
              </li>
              <!--
              <li class="hidden lg:flex">
                <a class="navbar_link" href="#" >
                  Docs
                </a>
              </li>
              <li>
                <lucide-icon
                  class="navbar_link cursor-pointer h-4 w-4"
                  name="search"
                  routerLink="/servers">
                </lucide-icon>
              </li>
              -->
              <li class="lg:hidden">
                <lucide-icon
                  class="navbar_link cursor-pointer h-4 w-4"
                  data-dropdown-toggle="menu_options"
                  name="menu" >
                </lucide-icon>
              </li>
              <!--
              <li>
                <button class="login_button text-sm items-center">
                  <lucide-icon name="user" class="h-4 w-4 mr-1"></lucide-icon>
                  Log in
                </button>
              </li>
              -->
          </ul>
      </div>
  </div>
</nav>


<div id="menu_options" class="z-10 hidden bg-secondary rounded-lg shadow w-52 border border-emerald-400 border-solid">
  <ul class="py-2 px-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
    <li class="py-2">
      <a class="navbar_link" routerLink="/servers" >
        <lucide-icon class="h-4 w-4" name="pc-case"></lucide-icon>
        Servers
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link" routerLink="/datacenters" >
        <lucide-icon class="h-4 w-4" name="hotel"></lucide-icon>
        Datacenters
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link" routerLink="/vendors" >
        <lucide-icon class="h-4 w-4" name="home"></lucide-icon>
        Vendors
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link">
        <lucide-icon class="h-4 w-4" name="book-text"></lucide-icon>
        Docs
      </a>
    </li>
  </ul>
</div>
