<nav class="bg-custom px-4 lg:px-6 py-2.5 w-full">
  <div class="content flex justify-between items-center w-full">
    <a routerLink="/" class="h-12" style="max-width: 284px; width: 284px">
      <img
        class="h-12"
        style="max-width: 284px; width: 284px"
        src="./assets/images/logos/logo_header.png"
        alt="Spare Cores Logo"
      />
    </a>
    <div
      class="justify-end items-center w-auto flex order-1"
      id="mobile-menu-2"
    >
      <ul
        class="flex font-medium flex-row space-x-3 xl:space-x-8 mt-0 items-center"
      >
        <li class="hidden xl:flex">
          <div
            class="navbar_link cursor-pointer"
            id="about_button"
            [appFlowbiteDropdown]="'about_options'"
            [dropdownPlacement]="'bottom'"
            #aboutDropdown="appFlowbiteDropdown"
          >
            <span class="navbar_icon">
              <svg lucideInfo class="h-4 w-4"></svg>
            </span>
            About
          </div>
        </li>
        <li class="hidden xl:flex">
          <div
            class="navbar_link cursor-pointer"
            id="navigator_button"
            [appFlowbiteDropdown]="'navigator_options'"
            [dropdownPlacement]="'bottom'"
            #navigatorDropdown="appFlowbiteDropdown"
          >
            <span class="navbar_icon">
              <svg lucideShipWheel class="h-4 w-4"></svg>
            </span>
            Navigator
          </div>
        </li>
        <li class="hidden xl:flex">
          <a routerLink="/advisor" class="navbar_link">
            <span class="navbar_icon">
              <svg lucideBot class="cursor-pointer h-4 w-4"></svg>
            </span>
            Advisor
          </a>
        </li>
        <li class="hidden xl:flex">
          <a
            href="https://sparecores.github.io/resource-tracker/"
            target="_blank"
            rel="noopener"
            class="navbar_link whitespace-nowrap"
          >
            <span class="navbar_icon">
              <svg lucideGauge class="cursor-pointer h-4 w-4"></svg>
            </span>
            Resource Tracker
          </a>
        </li>
        <li class="hidden xl:flex">
          <a
            href="https://sentinel.sparecores.com/"
            target="_blank"
            rel="noopener"
            class="navbar_link"
          >
            <span class="navbar_icon">
              <svg lucideShieldCog class="cursor-pointer h-4 w-4"></svg>
            </span>
            Sentinel
          </a>
        </li>
        <li class="!px-0 py-1">
          <div class="flex items-center gap-4">
            <button
              id="meeting-header-demo"
              aria-label="Book a Call"
              class="hidden sm:flex text-white bg-emerald-400 hover:bg-emerald-500 rounded-lg px-3 py-2 relative gap-2 items-center whitespace-nowrap"
            >
              <span class="navbar_icon">
                <svg lucideCalendarDays class="h-4 w-4"></svg>
              </span>
              Book a Call
            </button>
            <button
              id="compare_button"
              [appFlowbiteDropdown]="'compare_options'"
              [dropdownPlacement]="'bottom-end'"
              [dropdownFlip]="true"
              #compareDropdown="appFlowbiteDropdown"
              class="inline-flex items-center justify-center text-white bg-emerald-400 hover:bg-emerald-500 rounded-lg px-3 py-3 relative"
              [class.hidden]="compareCount() === 0"
            >
              <span
                class="h-4 w-4 absolute text-white bg-red-500 z-10 top-2 right-2 rounded-full"
                style="top: 2px; font-size: 0.625rem; right: 2px"
                >{{ compareCount() }}
              </span>
              <span class="navbar_icon">
                <svg lucideScale class="h-4 w-4"></svg>
              </span>
            </button>
          </div>
        </li>
        <li class="xl:hidden">
          <span
            id="menu_button"
            [appFlowbiteDropdown]="'menu_options'"
            [dropdownPlacement]="'bottom-end'"
            [dropdownFlip]="true"
            #menuDropdown="appFlowbiteDropdown"
            class="navbar_link cursor-pointer"
          >
            <span class="navbar_icon">
              <svg lucideMenu class="h-8 w-8"></svg>
            </span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div
  id="menu_options"
  class="mobile_menu_panel z-10 hidden bg-secondary rounded-lg shadow border border-emerald-400 border-solid"
>
  <ul
    class="mobile_menu_panel__list py-2 px-1 text-sm text-gray-700 dark:text-gray-200"
    aria-labelledby="dropdownDefaultButton"
    (click)="closeMenu()"
  >
    <li class="py-2">
      <span class="navbar_link hover:!text-white">
        <span class="navbar_icon">
          <svg lucideInfo class="h-4 w-4"></svg>
        </span>
        About
      </span>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/about/spare-cores">
        <span class="navbar_icon">
          <svg lucideHeartHandshake class="h-4 w-4"></svg>
        </span>
        Our Mission
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/about/partners">
        <span class="navbar_icon">
          <svg lucideHandshake class="h-4 w-4"></svg>
        </span>
        Partners
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/articles">
        <span class="navbar_icon">
          <svg lucideNotebookText class="h-4 w-4"></svg>
        </span>
        Blog
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/talks">
        <span class="navbar_icon">
          <svg lucideProjector class="h-4 w-4"></svg>
        </span>
        Talks & Slides
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/design">
        <span class="navbar_icon">
          <svg lucidePalette class="h-4 w-4"></svg>
        </span>
        Design
      </a>
    </li>
    <li class="py-2">
      <span class="navbar_link hover:!text-white">
        <span class="navbar_icon">
          <svg lucideShipWheel class="h-4 w-4"></svg>
        </span>
        Navigator
      </span>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/about/navigator">
        <span class="navbar_icon">
          <svg lucideBookText class="h-4 w-4"></svg>
        </span>
        Product Info
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/servers">
        <span class="navbar_icon">
          <svg lucidePcCase class="h-4 w-4"></svg>
        </span>
        Servers
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/compare">
        <span class="navbar_icon">
          <svg lucideScale class="h-4 w-4"></svg>
        </span>
        Compare Guide
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/server_prices">
        <span class="navbar_icon">
          <svg lucideDollarSign class="h-4 w-4"></svg>
        </span>
        Server Prices
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/storages">
        <span class="navbar_icon">
          <svg lucideDatabase class="h-4 w-4"></svg>
        </span>
        Storage Prices
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/traffic-prices">
        <span class="navbar_icon">
          <svg lucideArrowUpDown class="h-4 w-4"></svg>
        </span>
        Traffic Prices
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/regions">
        <span class="navbar_icon">
          <svg lucideHotel class="h-4 w-4"></svg>
        </span>
        Regions
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/vendors">
        <span class="navbar_icon">
          <svg lucideHouse class="h-4 w-4"></svg>
        </span>
        Vendors
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/navigator/benchmark-workloads">
        <span class="navbar_icon">
          <svg lucideNotebookText class="h-4 w-4"></svg>
        </span>
        Workloads
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/navigator/benchmark-coverage">
        <span class="navbar_icon">
          <svg lucideActivity class="h-4 w-4"></svg>
        </span>
        Coverage
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link" routerLink="/advisor">
        <span class="navbar_icon">
          <svg lucideBot class="h-4 w-4"></svg>
        </span>
        Advisor
      </a>
    </li>
    <li class="py-2">
      <a
        href="https://sparecores.github.io/resource-tracker/"
        target="_blank"
        rel="noopener"
        class="navbar_link"
      >
        <span class="navbar_icon">
          <svg lucideGauge class="h-4 w-4"></svg>
        </span>
        Resource Tracker
      </a>
    </li>
    <li class="py-2">
      <a
        href="https://sentinel.sparecores.com/"
        target="_blank"
        rel="noopener"
        class="navbar_link"
      >
        <span class="navbar_icon">
          <svg lucideShieldCog class="h-4 w-4"></svg>
        </span>
        Sentinel
      </a>
    </li>
  </ul>
</div>

<div
  id="about_options"
  [attr.inert]="aboutDropdown?.dropdown?._visible ? null : ''"
  class="z-100 hidden bg-secondary rounded-lg shadow w-68 border border-emerald-400 border-solid"
>
  <ul
    class="py-2 px-1 text-sm text-gray-700 dark:text-gray-200"
    aria-labelledby="dropdownDefaultButton"
    (click)="closeAbout()"
  >
    <li class="py-2">
      <a class="navbar_link" routerLink="/about/spare-cores">
        <span class="navbar_icon">
          <svg lucideHeartHandshake class="h-4 w-4"></svg>
        </span>
        Our Mission
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link" routerLink="/about/partners">
        <span class="navbar_icon">
          <svg lucideHandshake class="h-4 w-4"></svg>
        </span>
        Partners
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link" routerLink="/articles">
        <span class="navbar_icon">
          <svg lucideNotebookText class="h-4 w-4"></svg>
        </span>
        Blog
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link" routerLink="/talks">
        <span class="navbar_icon">
          <svg lucideProjector class="h-4 w-4"></svg>
        </span>
        Talks & Slides
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link" routerLink="/design">
        <span class="navbar_icon">
          <svg lucidePalette class="h-4 w-4"></svg>
        </span>
        Design
      </a>
    </li>
  </ul>
</div>

<div
  id="navigator_options"
  [attr.inert]="navigatorDropdown?.dropdown?._visible ? null : ''"
  class="z-100 hidden bg-secondary rounded-lg shadow w-68 border border-emerald-400 border-solid"
>
  <ul
    class="py-2 px-1 text-sm text-gray-700 dark:text-gray-200"
    aria-labelledby="dropdownDefaultButton"
    (click)="closeNavigator()"
  >
    <li class="py-2">
      <a class="navbar_link" routerLink="/about/navigator">
        <span class="navbar_icon">
          <svg lucideBookText class="h-4 w-4"></svg>
        </span>
        Product Info
      </a>
    </li>
    <hr class="mx-3 border-gray-500 mt-3 mb-3" />
    <li class="py-2">
      <a class="navbar_link" routerLink="/servers">
        <span class="navbar_icon">
          <svg lucidePcCase class="h-4 w-4"></svg>
        </span>
        Servers
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link" routerLink="/compare">
        <span class="navbar_icon">
          <svg lucideScale class="h-4 w-4"></svg>
        </span>
        Compare Guide
      </a>
    </li>
    <hr class="mx-3 border-gray-500 mt-3 mb-3" />
    <li class="py-2">
      <a class="navbar_link" routerLink="/server_prices">
        <span class="navbar_icon">
          <svg lucideDollarSign class="h-4 w-4"></svg>
        </span>
        Server Prices
      </a>
    </li>
    <ul>
      <li class="py-2 ml-6">
        <a class="navbar_link" routerLink="/vendors">
          <span class="navbar_icon">
            <svg lucideHouse class="h-4 w-4"></svg>
          </span>
          By Vendor
        </a>
      </li>
      <li class="py-2 ml-6">
        <a class="navbar_link" routerLink="/regions">
          <span class="navbar_icon">
            <svg lucideHotel class="h-4 w-4"></svg>
          </span>
          By Region
        </a>
      </li>
    </ul>
    <li class="py-2">
      <a class="navbar_link" routerLink="/storages">
        <span class="navbar_icon">
          <svg lucideDatabase class="h-4 w-4"></svg>
        </span>
        Storage Prices
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link" routerLink="/traffic-prices">
        <span class="navbar_icon">
          <svg lucideArrowUpDown class="h-4 w-4"></svg>
        </span>
        Traffic Prices
      </a>
    </li>
    <hr class="mx-3 border-gray-500 mt-3 mb-3" />
    <li class="py-2">
      <a class="navbar_link" routerLink="/navigator/benchmark-workloads">
        <span class="navbar_icon">
          <svg lucideNotebookText class="h-4 w-4"></svg>
        </span>
        Workloads
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link" routerLink="/navigator/benchmark-coverage">
        <span class="navbar_icon">
          <svg lucideActivity class="h-4 w-4"></svg>
        </span>
        Coverage
      </a>
    </li>
  </ul>
</div>

<div
  id="compare_options"
  class="compare_dropdown_panel z-10 hidden bg-secondary rounded-lg shadow border border-emerald-400 border-solid"
>
  <ul
    class="py-2 px-1 text-sm text-gray-700 dark:text-gray-200"
    aria-labelledby="dropdownDefaultButton"
    cdkDropList
    (cdkDropListDropped)="dropComparedServer($event)"
  >
    @for (
      server of getServersForCompare();
      track server.server + "_" + server.vendor
    ) {
      <li
        class="compare_dropdown_row py-2 flex w-full items-center gap-1"
        cdkDrag
        (cdkDragStarted)="setCompareDragCursor(true)"
        (cdkDragEnded)="setCompareDragCursor(false)"
      >
        <div
          class="compare_dropdown_actions flex w-full items-center gap-1"
          (click)="$event.stopPropagation()"
        >
          <button
            type="button"
            class="compare_dropdown_handle shrink-0 px-1 py-2 text-gray-400 hover:text-emerald-400"
            cdkDragHandle
            aria-label="Reorder"
          >
            <span class="navbar_icon">
              <svg lucideArrowUpDown class="h-4 w-4"></svg>
            </span>
          </button>
          <button
            type="button"
            class="compare_dropdown_baseline shrink-0 px-1 py-2 hover:text-emerald-400"
            [class.text-gray-400]="!isBaselineServer(server)"
            [class.text-emerald-400]="isBaselineServer(server)"
            [attr.aria-label]="
              isBaselineServer(server)
                ? 'Clear baseline server'
                : 'Set baseline server'
            "
            [attr.aria-pressed]="isBaselineServer(server)"
            (click)="toggleBaselineServer(server)"
          >
            <span class="navbar_icon">
              <svg lucideTarget class="h-4 w-4"></svg>
            </span>
          </button>
          <a
            class="navbar_link min-w-0 flex-1 justify-end text-right"
            routerLink="/server/{{ server.vendor }}/{{ server.server }}"
            (click)="closeCompare()"
          >
            <span>{{ server.vendor }}: {{ server.display_name }}</span>
          </a>
          <button
            class="text-red-500 px-2 py-2 shrink-0"
            (click)="removeFromCompare(server)"
          >
            <span class="navbar_icon">
              <svg lucideTrash class="h-4 w-4"></svg>
            </span>
          </button>
        </div>
      </li>
    }
  </ul>
</div>
