<nav class="bg-custom px-4 lg:px-6 py-2.5 w-full">
  <div class="content flex justify-between items-center w-full">
    <a routerLink="/" class="h-12" style="max-width: 284px; width: 284px">
      <img
        class="h-12"
        style="max-width: 284px; width: 284px"
        src="./assets/images/logos/logo_header.png"
        alt="Spare Cores Logo"
      />
    </a>
    <div
      class="justify-end items-center w-auto flex order-1"
      id="mobile-menu-2"
    >
      <ul
        class="flex font-medium flex-row space-x-3 xl:space-x-8 mt-0 items-center"
      >
        <li class="hidden xl:flex">
          <div
            class="navbar_link cursor-pointer"
            id="about_button"
            [appFlowbiteDropdown]="'about_options'"
            [dropdownPlacement]="'bottom'"
            #aboutDropdown="appFlowbiteDropdown"
          >
            <span class="navbar_icon">
              <app-icon name="info" iconClass="h-4 w-4" />
            </span>
            About
          </div>
        </li>
        <li class="hidden xl:flex">
          <div
            class="navbar_link cursor-pointer"
            id="navigator_button"
            [appFlowbiteDropdown]="'navigator_options'"
            [dropdownPlacement]="'bottom'"
            #navigatorDropdown="appFlowbiteDropdown"
          >
            <span class="navbar_icon">
              <app-icon name="ship-wheel" iconClass="h-4 w-4" />
            </span>
            Navigator
          </div>
        </li>
        <li class="hidden xl:flex">
          <a routerLink="/advisor" class="navbar_link">
            <span class="navbar_icon">
              <app-icon name="bot" iconClass="h-4 w-4" class="cursor-pointer" />
            </span>
            Advisor
          </a>
        </li>
        <li class="hidden xl:flex">
          <a
            href="https://sparecores.github.io/resource-tracker/"
            target="_blank"
            rel="noopener"
            class="navbar_link whitespace-nowrap"
          >
            <span class="navbar_icon">
              <app-icon
                name="gauge"
                iconClass="h-4 w-4"
                class="cursor-pointer"
              />
            </span>
            Resource Tracker
          </a>
        </li>
        <li class="hidden xl:flex">
          <a
            href="https://sentinel.sparecores.com/"
            target="_blank"
            rel="noopener"
            class="navbar_link"
          >
            <span class="navbar_icon">
              <app-icon
                name="shield-cog"
                iconClass="h-4 w-4"
                class="cursor-pointer"
              />
            </span>
            Sentinel
          </a>
        </li>
        <li class="!px-0 py-1">
          <div class="flex items-center gap-4">
            <button
              id="meeting-header-demo"
              aria-label="Book a Call"
              class="hidden sm:flex text-white bg-emerald-400 hover:bg-emerald-500 rounded-lg px-3 py-2 relative gap-2 items-center whitespace-nowrap"
            >
              <span class="navbar_icon">
                <app-icon name="calendar-days" iconClass="h-4 w-4" />
              </span>
              Book a Call
            </button>
            <button
              id="compare_button"
              [appFlowbiteDropdown]="'compare_options'"
              [dropdownPlacement]="'bottom'"
              #compareDropdown="appFlowbiteDropdown"
              class="inline-flex items-center justify-center text-white bg-emerald-400 hover:bg-emerald-500 rounded-lg px-3 py-3 relative"
              [class.hidden]="compareCount() === 0"
            >
              <span
                class="h-4 w-4 absolute text-white bg-red-500 z-10 top-2 right-2 rounded-full"
                style="top: 2px; font-size: 0.625rem; right: 2px"
                >{{ compareCount() }}
              </span>
              <span class="navbar_icon">
                <app-icon name="scale" iconClass="h-4 w-4" />
              </span>
            </button>
          </div>
        </li>
        <li class="xl:hidden">
          <span
            id="menu_button"
            [appFlowbiteDropdown]="'menu_options'"
            [dropdownPlacement]="'bottom-end'"
            [dropdownFlip]="true"
            #menuDropdown="appFlowbiteDropdown"
            class="navbar_link cursor-pointer"
          >
            <span class="navbar_icon">
              <app-icon name="menu" iconClass="h-8 w-8" />
            </span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div
  id="menu_options"
  class="mobile_menu_panel z-10 hidden bg-secondary rounded-lg shadow border border-emerald-400 border-solid"
>
  <ul
    class="mobile_menu_panel__list py-2 px-1 text-sm text-gray-700 dark:text-gray-200"
    aria-labelledby="dropdownDefaultButton"
    (click)="closeMenu()"
  >
    <li class="py-2">
      <span class="navbar_link hover:!text-white">
        <span class="navbar_icon">
          <app-icon name="info" iconClass="h-4 w-4" />
        </span>
        About
      </span>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/about/spare-cores">
        <span class="navbar_icon">
          <app-icon name="heart-handshake" iconClass="h-4 w-4" />
        </span>
        Our Mission
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/about/partners">
        <span class="navbar_icon">
          <app-icon name="handshake" iconClass="h-4 w-4" />
        </span>
        Partners
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/articles">
        <span class="navbar_icon">
          <app-icon name="notebook-text" iconClass="h-4 w-4" />
        </span>
        Blog
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/talks">
        <span class="navbar_icon">
          <app-icon name="projector" iconClass="h-4 w-4" />
        </span>
        Talks & Slides
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/design">
        <span class="navbar_icon">
          <app-icon name="palette" iconClass="h-4 w-4" />
        </span>
        Design
      </a>
    </li>
    <li class="py-2">
      <span class="navbar_link hover:!text-white">
        <span class="navbar_icon">
          <app-icon name="ship-wheel" iconClass="h-4 w-4" />
        </span>
        Navigator
      </span>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/about/navigator">
        <span class="navbar_icon">
          <app-icon name="book-text" iconClass="h-4 w-4" />
        </span>
        Product Info
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/servers">
        <span class="navbar_icon">
          <app-icon name="pc-case" iconClass="h-4 w-4" />
        </span>
        Servers
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/compare">
        <span class="navbar_icon">
          <app-icon name="scale" iconClass="h-4 w-4" />
        </span>
        Compare Guide
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/server_prices">
        <span class="navbar_icon">
          <app-icon name="dollar-sign" iconClass="h-4 w-4" />
        </span>
        Server Prices
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/storages">
        <span class="navbar_icon">
          <app-icon name="database" iconClass="h-4 w-4" />
        </span>
        Storage Prices
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/traffic-prices">
        <span class="navbar_icon">
          <app-icon name="arrow-up-down" iconClass="h-4 w-4" />
        </span>
        Traffic Prices
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/regions">
        <span class="navbar_icon">
          <app-icon name="hotel" iconClass="h-4 w-4" />
        </span>
        Regions
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/vendors">
        <span class="navbar_icon">
          <app-icon name="house" iconClass="h-4 w-4" />
        </span>
        Vendors
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/navigator/benchmark-workloads">
        <span class="navbar_icon">
          <app-icon name="notebook-text" iconClass="h-4 w-4" />
        </span>
        Workloads
      </a>
    </li>
    <li class="py-2 ml-6">
      <a class="navbar_link" routerLink="/navigator/benchmark-coverage">
        <span class="navbar_icon">
          <app-icon name="activity" iconClass="h-4 w-4" />
        </span>
        Coverage
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link" routerLink="/advisor">
        <span class="navbar_icon">
          <app-icon name="bot" iconClass="h-4 w-4" />
        </span>
        Advisor
      </a>
    </li>
    <li class="py-2">
      <a
        href="https://sparecores.github.io/resource-tracker/"
        target="_blank"
        rel="noopener"
        class="navbar_link"
      >
        <span class="navbar_icon">
          <app-icon name="gauge" iconClass="h-4 w-4" />
        </span>
        Resource Tracker
      </a>
    </li>
    <li class="py-2">
      <a
        href="https://sentinel.sparecores.com/"
        target="_blank"
        rel="noopener"
        class="navbar_link"
      >
        <span class="navbar_icon">
          <app-icon name="shield-cog" iconClass="h-4 w-4" />
        </span>
        Sentinel
      </a>
    </li>
  </ul>
</div>

<div
  id="about_options"
  [attr.inert]="aboutDropdown?.dropdown?._visible ? null : ''"
  class="z-100 hidden bg-secondary rounded-lg shadow w-68 border border-emerald-400 border-solid"
>
  <ul
    class="py-2 px-1 text-sm text-gray-700 dark:text-gray-200"
    aria-labelledby="dropdownDefaultButton"
    (click)="closeAbout()"
  >
    <li class="py-2">
      <a class="navbar_link" routerLink="/about/spare-cores">
        <span class="navbar_icon">
          <app-icon name="heart-handshake" iconClass="h-4 w-4" />
        </span>
        Our Mission
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link" routerLink="/about/partners">
        <span class="navbar_icon">
          <app-icon name="handshake" iconClass="h-4 w-4" />
        </span>
        Partners
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link" routerLink="/articles">
        <span class="navbar_icon">
          <app-icon name="notebook-text" iconClass="h-4 w-4" />
        </span>
        Blog
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link" routerLink="/talks">
        <span class="navbar_icon">
          <app-icon name="projector" iconClass="h-4 w-4" />
        </span>
        Talks & Slides
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link" routerLink="/design">
        <span class="navbar_icon">
          <app-icon name="palette" iconClass="h-4 w-4" />
        </span>
        Design
      </a>
    </li>
  </ul>
</div>

<div
  id="navigator_options"
  [attr.inert]="navigatorDropdown?.dropdown?._visible ? null : ''"
  class="z-100 hidden bg-secondary rounded-lg shadow w-68 border border-emerald-400 border-solid"
>
  <ul
    class="py-2 px-1 text-sm text-gray-700 dark:text-gray-200"
    aria-labelledby="dropdownDefaultButton"
    (click)="closeNavigator()"
  >
    <li class="py-2">
      <a class="navbar_link" routerLink="/about/navigator">
        <span class="navbar_icon">
          <app-icon name="book-text" iconClass="h-4 w-4" />
        </span>
        Product Info
      </a>
    </li>
    <hr class="mx-3 border-gray-500 mt-3 mb-3" />
    <li class="py-2">
      <a class="navbar_link" routerLink="/servers">
        <span class="navbar_icon">
          <app-icon name="pc-case" iconClass="h-4 w-4" />
        </span>
        Servers
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link" routerLink="/compare">
        <span class="navbar_icon">
          <app-icon name="scale" iconClass="h-4 w-4" />
        </span>
        Compare Guide
      </a>
    </li>
    <hr class="mx-3 border-gray-500 mt-3 mb-3" />
    <li class="py-2">
      <a class="navbar_link" routerLink="/server_prices">
        <span class="navbar_icon">
          <app-icon name="dollar-sign" iconClass="h-4 w-4" />
        </span>
        Server Prices
      </a>
    </li>
    <ul>
      <li class="py-2 ml-6">
        <a class="navbar_link" routerLink="/vendors">
          <span class="navbar_icon">
            <app-icon name="house" iconClass="h-4 w-4" />
          </span>
          By Vendor
        </a>
      </li>
      <li class="py-2 ml-6">
        <a class="navbar_link" routerLink="/regions">
          <span class="navbar_icon">
            <app-icon name="hotel" iconClass="h-4 w-4" />
          </span>
          By Region
        </a>
      </li>
    </ul>
    <li class="py-2">
      <a class="navbar_link" routerLink="/storages">
        <span class="navbar_icon">
          <app-icon name="database" iconClass="h-4 w-4" />
        </span>
        Storage Prices
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link" routerLink="/traffic-prices">
        <span class="navbar_icon">
          <app-icon name="arrow-up-down" iconClass="h-4 w-4" />
        </span>
        Traffic Prices
      </a>
    </li>
    <hr class="mx-3 border-gray-500 mt-3 mb-3" />
    <li class="py-2">
      <a class="navbar_link" routerLink="/navigator/benchmark-workloads">
        <span class="navbar_icon">
          <app-icon name="notebook-text" iconClass="h-4 w-4" />
        </span>
        Workloads
      </a>
    </li>
    <li class="py-2">
      <a class="navbar_link" routerLink="/navigator/benchmark-coverage">
        <span class="navbar_icon">
          <app-icon name="activity" iconClass="h-4 w-4" />
        </span>
        Coverage
      </a>
    </li>
  </ul>
</div>

<div
  id="compare_options"
  class="z-10 hidden bg-secondary rounded-lg shadow w-250 border border-emerald-400 border-solid"
>
  <ul
    class="py-2 px-1 text-sm text-gray-700 dark:text-gray-200"
    aria-labelledby="dropdownDefaultButton"
    (click)="closeCompare()"
  >
    @for (
      server of getServersForCompare();
      track server.server + "_" + server.vendor
    ) {
      <li class="py-2 flex justify-between">
        <a
          class="navbar_link"
          routerLink="/server/{{ server.vendor }}/{{ server.server }}"
        >
          <span class="navbar_icon">
            <app-icon name="pc-case" iconClass="h-4 w-4" />
          </span>
          {{ server.vendor }}: {{ server.display_name }}
        </a>
        <div (click)="$event.stopPropagation()">
          <button
            class="text-red-500 px-2 py-2"
            (click)="removeFromCompare($event, server)"
          >
            <span class="navbar_icon">
              <app-icon name="trash" iconClass="h-4 w-4" />
            </span>
          </button>
        </div>
      </li>
    }
    <li class="py-2">
      <button
        class="w-full font-bold text-white bg-emerald-400 hover:bg-emerald-500 rounded-sm py-2"
        (click)="compareServers()"
      >
        Compare
      </button>
    </li>
  </ul>
</div>
