a {
  @apply underline decoration-dotted;
}
a:hover {
  @apply text-gray-500;
}

div.giscus {
  margin-top: 35px;
}

::ng-deep .html_content {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-emerald-400 my-4;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
    @apply my-10;
  }

  a {
    @apply underline decoration-dotted;
  }
  a:hover {
    @apply text-gray-500;
  }

  ul li {
    @apply list-disc;
  }
  ol li {
    @apply list-decimal;
  }
  li {
    @apply text-lg;
    @apply my-1;
    @apply ml-8;
  }

  p {
    @apply my-10;
    @apply text-lg;
  }

  div.code-toolbar {
    width: calc(100% - 20px);
    margin: 0px 10px;
  }

  blockquote {
    border-left: 1px solid #34D399;
    padding: 0px 10px 0px 10px;
    margin: 10px;
  }

  ul {
    @apply mb-2;
  }

  img.zoomin {
    cursor: zoom-in;
  }

  table {
    @apply mx-auto;
    @apply mb-2;

    // make the tables scrollable
    display: block;
    width: fit-content;
    max-width: 100%;
    overflow: auto;

    thead {
      @apply border-b border-emerald-400 border-solid;
      th {
        @apply px-5 py-3 font-normal text-xs;
      }
    }

    tbody {
      tr:nth-child(2n+1) {
        @apply bg-primary;
      }
      tr:nth-child(2n) {
        @apply bg-secondary;
      }

      tr {
        td {
          @apply whitespace-nowrap;
          @apply px-5 py-3 text-sm;
          a:hover {
            opacity: 0.5;
          }
        }
      }

      // special formatting for table columns with units
      td.file-size span.num,
      td.param-size span.num {
        display: inline-block;
        min-width: 3em;
        text-align: right;
        padding-right: 5px;
      }
      td.file-size span.num {
        padding-right: 10px;
      }
      td.file-size span.unit,
      td.param-size span.unit {
        display: inline-block;
        min-width: 2em;
        text-align: left;
      }
      td.cost-value span.num {
        display: inline-block;
        min-width: 5em;
        text-align: right;
        padding-right: 0.5em;
      }
    }
  }
  table::-webkit-scrollbar{
    height: 4px;
    width: 4px;
    background: #34D39933;
  }
  table::-webkit-scrollbar-thumb:horizontal{
    background: #34D399;
  }

  .header-anchor {
    opacity: 0;
    text-decoration: none;
    margin-left: 0.5rem;
    transition: opacity 0.2s;
    &:hover {
      @apply text-emerald-400;
    }
  }
  h1:hover .header-anchor,
  h2:hover .header-anchor,
  h3:hover .header-anchor,
  h4:hover .header-anchor,
  h5:hover .header-anchor,
  h6:hover .header-anchor {
    opacity: 1;
  }
}
