<div class="w-full bg-primary">
  <div class="content pt-16 pb-16">
    <app-breadcrumbs [segments]="breadcrumbs"></app-breadcrumbs>

    <div class="py-12 px-12 mx-auto" style="max-width: 750px;" *ngIf="articleMeta && html">
      <h1 class="text-emerald-400 text-3xl font-bold mb-2"> {{articleMeta.title}} </h1>
      <div class="text-gray-200 text-xs mb-8" > Published at {{articleMeta.date | timeToShortDate}} </div>
      <div class="text-white" [innerHTML]="html"></div>
    </div>

    </div>
</div>

