a {
  @apply underline decoration-dotted;
}
a:hover {
  @apply text-gray-500;
}

div.giscus {
  margin-top: 35px;
}

::ng-deep .html_content {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold text-emerald-400 my-4;
  }
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-2xl;
    @apply my-10;
  }

  a {
    @apply underline decoration-dotted;
  }
  a:hover {
    @apply text-gray-500;
  }

  ul li {
    @apply list-disc;
  }
  ol li {
    @apply list-decimal;
  }
  li {
    @apply text-lg;
    @apply my-1;
    @apply ml-8;
  }

  p {
    @apply my-10;
    @apply text-lg;
  }

  div.code-toolbar {
    width: calc(100% - 20px);
    margin: 0px 10px;
  }

  blockquote {
    border-left: 1px solid #34D399;
    padding: 0px 10px 0px 10px;
    margin: 10px;
  }

  ul {
    @apply mb-2;
  }

  img.zoomin {
    cursor: zoom-in;
  }

  table {
    @apply mx-auto;
    @apply mb-2;

    thead {
      @apply border-b border-emerald-400 border-solid;
      th {
        @apply px-5 py-3 font-normal text-xs;
      }
    }

    tbody {
      tr:nth-child(2n+1) {
        @apply bg-primary;
      }
      tr:nth-child(2n) {
        @apply bg-secondary;
      }

      tr {
        td {
          @apply px-5 py-3 text-sm;
          a:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }

  .header-anchor {
    opacity: 0;
    text-decoration: none;
    margin-left: 0.5rem;
    transition: opacity 0.2s;
    &:hover {
      @apply text-emerald-400;
    }
  }
  h1:hover .header-anchor,
  h2:hover .header-anchor,
  h3:hover .header-anchor,
  h4:hover .header-anchor,
  h5:hover .header-anchor,
  h6:hover .header-anchor {
    opacity: 1;
  }
}
