
.search_bar_content {
  width: 100%;
  height: calc(100% - 4rem);

  .top {
    height: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.5rem;
    border-top: 1px solid #34D399;
  }

  .filters {
    border-right: 1px solid #34D399;
    padding-bottom: 1rem;
    height: calc(100% - 4rem);
  }

  .unit {
    position: absolute;
    right: 0.5rem;
    top: 2.25rem;
    transform: translateY(-2rem);
  }

  ::-webkit-scrollbar {
    width: 5px; /* width of the entire scrollbar */
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-secondary;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #9CA3AF;
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #9CA3AF; /* creates padding around scroll thumb */
  }

}
