
.search_bar_content {
  width: 100%;
  height: calc(100% - 4rem);

  .top {
    height: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.5rem;
    border-top: 1px solid #34D399;
  }

  .filters {
    border-right: 1px solid #34D399;
    padding-bottom: 1rem;
    min-height: calc(100% - 4rem);
  }

  .unit {
    position: absolute;
    right: 0.5rem;
    top: 2.25rem;
    transform: translateY(-2rem);
  }

  .checkbox {
    @apply focus:ring-emerald-400 accent-emerald-400 text-emerald-400 outline-none disabled:accent-gray-400  disabled:text-gray-400 disabled:bg-gray-400;
  }
}
