.search_bar_content {
  width: 100%;
  height: calc(100% - 4rem);

  .top {
    height: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.5rem;
    border-top: 1px solid #34d399;
  }

  .top_search_input {
    @apply w-full h-full border border-emerald-400 rounded-lg text-sm bg-gray-200 text-sky-950 px-4 outline-none focus:ring-2 focus:ring-emerald-400;
    padding-right: 2.5rem;
    height: 40px;
  }
  .top_search_input::placeholder {
    @apply text-sky-800/70;
  }
  .top_search_wrap {
    position: relative;
    width: 90%;
    height: 100%;
    margin-top: 1rem;
  }

  .top_search_button {
    @apply text-sky-950;
    padding-bottom: 5px;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filters {
    border-right: 1px solid #34d399;
    padding-bottom: 1rem;
    min-height: calc(100% - 4rem);
  }

  .unit {
    position: absolute;
    right: 0.5rem;
    top: 2.25rem;
    transform: translateY(-2rem);
  }

  .checkbox {
    @apply focus:ring-emerald-400 accent-emerald-400 text-emerald-400 outline-none disabled:accent-gray-400  disabled:text-gray-400 disabled:bg-gray-400;
  }
}
