<div class="w-full bg-primary">
  <div class="content pt-16 pb-16">
    <app-breadcrumbs [segments]="breadcrumbs"></app-breadcrumbs>

    <div class="flex flex-col gap-4 my-8">
      <h1 class="text-white font-bold text-3xl">Cloud Compute Resources listing</h1>
      <div class="text-white text-xl pr-16">
        Explore, search and evaluate cloud compute resources and pricing in the table below. This comprehensive comparison includes diverse attributes like CPU count, detailed processor information, memory, GPU, storage, network speed and amount, available operating systems, and pricing models such as spot and on-demand. Use the sidebar for filtering the results, or enter your phrase in the “Search prompt” bar.
      </div>
    </div>

    <div class="flex gap-8">
      <div class="filter_bar bg-primary">
        <div class="filters overflow-hidden bg-secondary">
        </div>
      </div>
      <div class=" list_holder flex flex-col gap-4 limited-full">
        <div class="top_buttons w-full flex justify-end gap-6 items-center" >

        </div>
        <div>
          <div class="w-full overflow-x-auto relative" style="padding-left: 1px;">


          </div>

        </div>
      </div>

    </div>

  </div>
</div>
