.filter_bar {
  position: relative;
  width: 20rem;
  transition: width 0.2s ease-in-out;

  .top {
    height: 4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0.5rem;
    border-top: 1px solid #34d399;
  }
  .collapser {
    position: absolute;
    right: -52px;
    top: 0;
    height: 4rem;
    width: 52px;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-bottom: 1px solid;
    border-right: 1px solid;
    border-top: 1px solid;
    border-color: #34d399;
    cursor: pointer;
  }

  .filters {
    border-right: 1px solid #34d399;
    padding-bottom: 1rem;
    height: calc(100% - 4rem);
  }
}

.filter_bar.collapsed {
  width: 0rem;
  min-width: unset;
}

.top_buttons {
  height: 4rem;
}

.limited-full {
  width: calc(100% - 20rem);
}

.dropdown_input {
  @apply py-3 ps-14 pe-4 block w-full border-emerald-400 rounded-lg text-sm text-white bg-emerald-400;
  min-width: 300px;
}

.dropdown_input::placeholder {
  color: #fff !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-secondary;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #9ca3af; /* creates padding around scroll thumb */
}

:host ::ng-deep .dropdown_group_button {
  @apply mx-2 px-2 py-2 text-white bg-emerald-400 items-center gap-x-2 text-sm text-nowrap rounded-md border border-emerald-400 bg-transparent text-emerald-400 shadow-sm focus:outline-none;
  text-wrap: auto;
}

:host ::ng-deep .dropdown_group_button:hover {
  @apply bg-emerald-400 border-emerald-400 focus:border-emerald-400 text-white;
}

.items_table {
  @apply w-full text-white;

  .checkbox_column {
    width: 2rem !important;
    padding-right: 0.5rem !important;
    padding-left: 0.75rem !important;
  }

  thead {
    @apply border-b border-gray-200 border-solid bg-secondary;
    th {
      @apply text-left pl-3 pr-2 py-3 font-normal text-xs;
    }
  }

  tbody {
    tr:nth-child(2n + 1) {
      @apply bg-primary;
    }
    tr:nth-child(2n) {
      @apply bg-secondary;
    }

    tr {
      @apply hover:outline hover:outline-1 hover:-outline-offset-1 hover:outline-emerald-400 cursor-pointer;
      td {
        @apply pl-3 pr-2 py-3 text-left text-sm;
      }
    }
  }
}

.dropdown_button {
  @apply text-white bg-emerald-400 hover:bg-emerald-500 focus:outline-none font-medium rounded-lg text-sm text-center inline-flex items-center border-emerald-400 border-solid border;
  transition-duration: 0.15s;
  transition-property: background-color, border-color, box-shadow, color;
  transition-timing-function: ease-in;
}

.unit {
  position: absolute;
  right: 0.5rem;
  top: 2.25rem;
  transform: translateY(-2rem);
}

.fixed_buttons {
  position: fixed;
  bottom: 2rem;
  left: calc(50% - 10rem);
  z-index: 100;
  button {
    width: 9rem;
  }
}

.button_list_holder {
  .button_list_item:nth-child(2n + 1) {
    @apply bg-primary;
  }
  .button_list_item:nth-child(2n) {
    @apply bg-secondary;
  }

  .button_list_item {
    @apply py-2 text-white border-transparent border hover:border hover:border-emerald-400 hover:border-solid cursor-pointer;
  }

  .button_list_item.active {
    @apply border-emerald-400;
  }
}

.overflow-x-auto {
  scrollbar-width: thin;
  scrollbar-color: #34d399 #374151;
}
.overflow-x-auto::-webkit-scrollbar {
  height: 2px;
}
.overflow-x-auto::-webkit-scrollbar-track {
  background: #374151;
}
.overflow-x-auto::-webkit-scrollbar-thumb {
  background-color: #34d399;
  border-radius: 3px;
}
