<div class="w-full bg-primary">
  <div class="content pt-16 pb-16">
    <app-breadcrumbs [segments]="breadcrumbs"></app-breadcrumbs>

    <div class="flex flex-col gap-4 my-8">
      <h1 class="text-white font-bold text-3xl">Cloud Compute Resources listing</h1>
      <div class="text-white text-xl pr-16">
        Explore, search and evaluate cloud compute resources and pricing in the table below. This comprehensive comparison includes diverse attributes like CPU count, detailed processor information, memory, GPU, storage, network speed and amount, available operating systems, and pricing models such as spot and on-demand. Use the sidebar for filtering the results, or enter your phrase in the “Search prompt” bar.
      </div>
    </div>

    <div class="flex gap-8">
      <div class="filter_bar bg-primary"
        [ngClass]="{
          'collapsed': isCollapsed
        }">
        <div class="top overflow-hidden bg-secondary">
          <button
            class="w-full bg-emerald-400 text-white py-3 rounded-lg font-bold"
            (click)="openSearchPromt()">
            Search Prompt
          </button>
        </div>
        <div class="collapser bg-secondary" (click)="toggleCollapse()" >
          <lucide-icon name="chevron-left" class="h-6 w-6 text-emerald-400"></lucide-icon>
        </div>
        <div class="filters overflow-hidden bg-secondary">
          <div class="mx-2 p-3 border-b border-gray-200 " *ngFor="let item of filterCategories" >
            <div class="flex justify-between cursor-pointer" (click)="toggleCategory(item)">
              <div class="text-white flex gap-2 items-center">
                <lucide-icon name="{{item.icon}}" class="h-4 w-4 text-white"></lucide-icon>
                <div class="text-sm">{{item.name}}</div>
              </div>
              <div>
                <lucide-icon name="chevron-down" class="h-4 w-4 text-white"></lucide-icon>
              </div>
            </div>
            <div *ngIf="!item.collapsed" class="pt-4">
              <div *ngFor="let parameter of getParametersByCategory(item.category_id)" >
                <div class="font-bold text-emerald-400 text-sm">{{parameter.schema.title}}</div>
                <div *ngIf="getParamterType(parameter) === 'range'" class="mb-4 mt-4" >
                  <div class="text-white text-sm" *ngIf="parameter.modelValue">{{parameter.modelValue}} {{parameter.schema.unit}}</div>
                  <input type="range" min="{{parameter.schema.minimum}}" max="{{parameter.schema.maximum}}" step="{{getStep(parameter)}}"
                    [(ngModel)]="parameter.modelValue"
                    (ngModelChange)="valueChanged()"
                    class="w-full h-2 accent-emerald-400 bg-gray-200 rounded-lg cursor-pointer range-sm">
                </div>
                <div *ngIf="getParamterType(parameter) === 'country'" class="mb-4 mt-4 relative flex flex-col gap-2" >
                  <div *ngFor="let continent of continentMetadata" class="flex flex-col gap-3" >
                      <div class="flex justify-between">
                        <div class="flex gap-2 items-center">
                          <input type="checkbox"
                              [ngModel]="continent.selected"
                              (click)="selectContinent(continent)"
                              class="focus:ring-emerald-400 accent-emerald-400 text-emerald-400 outline-none" >
                          <div class="text-white text-sm">{{continent.continent}}</div>
                        </div>
                        <lucide-icon name="chevron-down" class="h-4 w-4 text-white cursor-pointer" (click)="collapseItem(continent)"></lucide-icon>
                      </div>
                      <div *ngIf="!continent.collapsed"  class="flex flex-col gap-3 ml-4">
                        <div class="flex gap-2 align-center" *ngFor="let country of countriesByContinent(continent.continent)">
                          <input type="checkbox"
                              [(ngModel)]="country.selected"
                              (ngModelChange)="filterServers()"
                              class="focus:ring-emerald-400 accent-emerald-400 text-emerald-400 outline-none" >
                          <div class="text-white text-sm">{{country.country_id | countryIdtoName}}</div>
                        </div>
                      </div>
                  </div>
                </div>
                <div *ngIf="getParamterType(parameter) === 'datacenters'" class="mb-4 mt-4 relative flex flex-col gap-2" >
                  <div *ngFor="let vendor of datacenterVendorMetadata" class="flex flex-col gap-3" >
                      <div class="flex justify-between">
                        <div class="flex gap-2 items-center">
                          <input type="checkbox"
                              [ngModel]="vendor.selected"
                              (click)="selectDatacenterVendor(vendor)"
                              class="focus:ring-emerald-400 accent-emerald-400 text-emerald-400 outline-none" >
                          <div class="text-white text-sm">{{vendor.name}}</div>
                        </div>
                        <lucide-icon name="chevron-down" class="h-4 w-4 text-white cursor-pointer" (click)="collapseItem(vendor)"></lucide-icon>
                      </div>
                      <div *ngIf="!vendor.collapsed"  class="flex flex-col gap-3 ml-4">
                        <div class="flex gap-2 align-center" *ngFor="let datacenter of datacentersByVendor(vendor.vendor_id)">
                          <input type="checkbox"
                              [(ngModel)]="datacenter.selected"
                              (ngModelChange)="filterServers()"
                              class="focus:ring-emerald-400 accent-emerald-400 text-emerald-400 outline-none" >
                          <div class="text-white text-sm">{{datacenter.name}}</div>
                          <lucide-icon *ngIf="datacenter.green_energy" name="leaf" class="h-4 w-4 text-emerald-400"></lucide-icon>
                        </div>
                      </div>
                  </div>
                </div>
                <div *ngIf="getParamterType(parameter) === 'number'" class="mb-4 mt-4 relative" >
                  <input type="number" step="{{getStep(parameter)}}"
                    [(ngModel)]="parameter.modelValue"
                    (ngModelChange)="valueChanged()"
                    min="{{parameter.schema.minimum || 0}}"
                    class="w-full h-8 accent-emerald-400 bg-gray-200 rounded-lg cursor-pointer range-sm pr-8">
                  <span *ngIf="parameter.schema.unit" class="unit text-gray-600">{{parameter.schema.unit}}</span>
                </div>
                <div *ngIf="getParamterType(parameter) === 'price'" class="mb-4 mt-4 relative" >
                  <input type="number" step="{{getStep(parameter)}}"
                    [(ngModel)]="parameter.modelValue"
                    (ngModelChange)="valueChanged()"
                    class="w-full h-8 accent-emerald-400 bg-gray-200 rounded-lg cursor-pointer range-sm pr-8">
                  <span *ngIf="selectedCurrency.slug" class="unit text-gray-600">{{selectedCurrency.slug}}</span>
                </div>
                <div *ngIf="getParamterType(parameter) === 'text'" class="mb-4 mt-4" >
                  <input type="text"
                    [(ngModel)]="parameter.modelValue"
                    (ngModelChange)="valueChanged()"
                    class="w-full h-8 accent-emerald-400 bg-gray-200 rounded-lg cursor-pointer range-sm">
                </div>
                <div *ngIf="getParamterType(parameter) === 'checkbox'" class="flex gap-2 mb-4 mt-4" >
                  <input type="checkbox"
                    [(ngModel)]="parameter.modelValue"
                    (ngModelChange)="filterServers()"
                    class="focus:ring-emerald-400 accent-emerald-400 text-emerald-400 outline-none" >
                    <div class="text-white text-sm">{{parameter.schema.description}}</div>
                </div>
                <div *ngIf="getParamterType(parameter) === 'enumArray'" class="flex flex-col gap-2 mb-4 mt-4" >
                  <div *ngFor="let enum of parameter.schema.enum" class="flex items-center gap-1">
                    <input type="checkbox"
                      [ngModel]="isEnumSelected(parameter, enum)"
                      (click)="selectEnumItem(parameter, enum)"
                      class="focus:ring-emerald-400 accent-emerald-400 text-emerald-400 outline-none" >
                      <div class="text-white text-sm">{{enum?.value ? enum?.value : enum}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" list_holder flex flex-col gap-4"
          [ngClass]="{
            'limited-full': !isCollapsed,
            'w-full': isCollapsed
          }">
        <div class="top_buttons w-full flex justify-end gap-6 items-center" >
          <div>
            <button
              id="allocation_button"
              data-dropdown-toggle="allocation_options"
              class="dropdown_button"
              type="button">
              <div class="px-4 py-3">
                {{allocation.name}}
              </div>
              <div class="px-4 py-3 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
                <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
              </div>
            </button>
          </div>
          <div>
            <button
              id="currency_button"
              data-dropdown-toggle="currency_options"
              class="dropdown_button"
              type="button">
              <div class="px-4 py-3">
              {{selectedCurrency.slug}}
              </div>
              <div class="px-4 py-3 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
                <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
              </div>
            </button>
          </div>
          <div>
            <button
              id="column_button"
              data-dropdown-toggle="column_options"
              class="dropdown_button"
              type="button">
              <div class="px-4 py-3">
              Columns
              </div>
              <div class="px-4 py-3 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
                <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
              </div>
            </button>
          </div>
        </div>
        <div>
          <div class="w-full overflow-x-auto relative" style="padding-left: 1px;">
            <div *ngIf="isLoading" class="absolute top-0 left-0 w-full h-full" style="background-color: rgba(0,0,0,0.2);" >
              <div class="flex justify-center mt-16 opacity-100" role="status">
                <svg aria-hidden="true" class="inline w-12 h-12 text-gray-200 animate-spin fill-emerald-400" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                    <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                </svg>
                <span class="sr-only">Loading...</span>
              </div>
            </div>
            <table class="items_table">
              <thead>
                <tr>
                  <th *ngFor="let item of tableColumns"
                      [ngClass]="{
                        'cursor-pointer': item.orderField
                      }"
                      (click)="toggleOrdering(item)" >
                      <div class="flex gap-1">
                        {{item.name}}
                        <lucide-icon *ngIf="getOrderingIcon(item)" name="{{getOrderingIcon(item)}}" class="h-4 w-4 text-white"></lucide-icon>
                      </div>
                  </th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of servers" (click)="openServerDetails(item)">
                  <ng-container *ngFor="let column of tableColumns">
                    <td *ngIf="column.type === 'name'" class="min-w-225">
                      <div class="text-sm text-white">{{item.server.name}} </div>
                      <div class="text-xs text-white flex gap-1"> <span>{{item.server_id}}</span> <span class="text-emerald-400" >|</span> <span>Hosted by:{{item.vendor_id}}</span> </div>
                    </td>
                    <td *ngIf="column.type === 'processor'">
                      <div class="text-sm text-white">{{item.server.cpu_cores || item.server.vcpus}}x {{item.server.cpu_architecture}}</div>
                      <div
                        *ngIf="item.server.cpu_cores && item.server.cpu_speed"
                        class="text-xs text-white flex gap-1">
                        <span>{{item.server.cpu_cores}} cores at {{item.server.cpu_speed}} Ghz</span>
                      </div>
                    </td>
                    <td *ngIf="column.type === 'memory'">
                      {{getMemory(item)}}
                    </td>
                    <td *ngIf="column.type === 'storage'">
                      <div class="text-sm text-white">{{getStorage(item)}}</div>
                      <div
                        *ngIf="item.server.storage_type"
                        class="text-xs text-white">
                        <span>{{item.server.storage_type}}</span>
                      </div>
                    </td>
                    <td *ngIf="column.type === 'price'" class="min-w-160">
                      {{item.price}} {{selectedCurrency.slug}}
                    </td>
                    <td *ngIf="column.type === 'gpu'">
                      <div class="text-sm text-white">{{item.server.gpu_count}}</div>
                      <div
                        *ngIf="item.server.gpu_model"
                        class="text-xs text-white flex gap-1">
                        <span>{{item.server.gpu_model}}</span>
                      </div>
                    </td>
                    <td *ngIf="column.type === 'text' && column.key">
                      {{getField(item, column.key)}}
                    </td>
                    <td *ngIf="column.type === 'country'">
                      {{item.datacenter.country_id | countryIdtoName}}
                    </td>
                    <td *ngIf="column.type === 'datacenter'" class="min-w-225">
                      <div class="text-sm text-white">{{item.datacenter.name}}</div>
                      <div class="text-xs text-white flex gap-1"> <span>{{item.datacenter.datacenter_id}} </span> </div>
                    </td>
                    <td *ngIf="column.type === 'vendor'" >
                      <div *ngIf="item.vendor.logo" class="w-9 h-9 px-1 py-1 bg-white rounded-lg">
                        <img [src]="item.vendor.logo" >
                      </div>
                      <div *ngIf="!item.vendor.logo" class="text-white text-sm">
                          {{item.vendor.name}}
                      </div>
                    </td>
                  </ng-container>
                  <td>
                    <div (click)="$event.stopPropagation()">
                      <a routerLink="/server/{{item.vendor.vendor_id}}/{{item.server.server_id}}">
                        <lucide-icon name="chevron-right" class="h-6 w-6 text-emerald-400"></lucide-icon>
                      </a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <div class="flex justify-between mt-4">
              <div>
                <button
                  id="pagesize_button"
                  data-dropdown-toggle="pagesize_options"
                  class="dropdown_button"
                  type="button">
                  <div class="px-4 py-2">
                  {{limit}}
                  </div>
                  <div class="px-2 py-2 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
                    <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
                  </div>
                </button>
                <span class="text-white" > items per page</span>
              </div>
              <div class="flex justify-end gap-4">
                <button
                  class="flex justify-center bg-transparent text-white py-2 px-4 w-10 rounded-lg font-bold hover:bg-emerald-400"
                  (click)="prevPage()" >
                  <lucide-icon name="chevron-left"></lucide-icon>
                </button>
                <ng-container *ngIf="page > 2">
                  <button
                    class="text-white py-2 px-4 rounded-lg font-bold hover:bg-emerald-400"
                    (click)="gotoPage(1)">
                    1
                  </button>
                  <button *ngIf="page > 3"
                    class="text-white py-2 px-4 rounded-lg font-bold">
                    ...
                  </button>
                </ng-container>
                <button
                  class="text-white py-2 px-4 rounded-lg font-bold hover:bg-emerald-400"
                  [ngClass]="{
                    'bg-emerald-400': item === this.page,
                    'bg-transparent': item !== this.page
                  }"
                  *ngFor="let item of possiblePages()"
                  (click)="gotoPage(item)">
                  {{item}}
                </button>
                <ng-container *ngIf="totalPages > (page + 3)">
                  <button
                    class="text-white py-2 px-4 rounded-lg font-bold">
                    ...
                  </button>
                  <button
                    class="text-white py-2 px-4 rounded-lg font-bold hover:bg-emerald-400"
                    (click)="gotoPage(totalPages)">
                    {{totalPages}}
                  </button>
                </ng-container>
                <button class="flex justify-center bg-transparent text-white py-2 px-4 w-10 rounded-lg font-bold hover:bg-emerald-400" (click)="nextPage()">
                  <lucide-icon name="chevron-right"></lucide-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>

 <!-- Dropdown menu -->
 <div id="allocation_options" class="z-10 hidden bg-secondary rounded-lg shadow w-44 border border-emerald-400 border-solid">
  <ul class="py-2 px-1 text-sm text-gray-700" aria-labelledby="dropdownDefaultButton">
    <li *ngFor="let item of allocationTypes"
      class="flex py-1 px-2 gap-2 items-center cursor-pointer hover:bg-emerald-500 rounded-sm"
      (click)="selectAllocation(item)">
      <div class="text-white text-sm">{{item.name}} </div>
    </li>
  </ul>
</div>

<div id="pagesize_options" class="z-10 hidden bg-secondary rounded-lg shadow w-44 border border-emerald-400 border-solid">
  <ul class="py-2 px-1 text-sm text-gray-700" aria-labelledby="dropdownDefaultButton">
    <li *ngFor="let item of pageLimits"
      class="flex py-1 px-2 gap-2 items-center cursor-pointer hover:bg-emerald-500 rounded-sm"
      (click)="selectPageSize(item)">
      <div class="text-white text-sm">{{item}} </div>
    </li>
  </ul>
</div>

<div id="column_options" class="z-10 hidden bg-secondary rounded-lg shadow w-52 border border-emerald-400 border-solid">
  <ul class="py-2 px-3 text-sm text-gray-700" aria-labelledby="dropdownDefaultButton">
    <li *ngFor="let item of possibleColumns" class="flex py-1 gap-2 items-center">
      <input type="checkbox"
      [(ngModel)]="item.show"
      (ngModelChange)="refreshColumns()"
      class="focus:ring-emerald-400 accent-emerald-400 text-emerald-400 outline-none cursor-pointer" >
      <div class="text-white text-sm">{{item.name}}</div>
    </li>
  </ul>
</div>

<div id="currency_options" class="z-10 hidden bg-secondary rounded-lg shadow w-52 border border-emerald-400 border-solid">
  <ul class="py-2 px-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
    <li *ngFor="let item of availableCurrencies"
      class="flex py-1 px-2 gap-2 items-center cursor-pointer hover:bg-emerald-500 rounded-sm"
      (click)="selectCurrency(item)">
      <div class="text-white text-sm ">{{item.name}} ({{item.symbol}})</div>
    </li>
  </ul>
</div>

<!-- Large Modal -->
<div id="large-modal"
    tabindex="-1"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-xl max-h-full">
      <div class="relative bg-secondary rounded-lg shadow border border-solid border-emerald-400 " >
          <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
              <h3 class="text-xl font-medium text-white dark:text-white">
                  Search Prompt
              </h3>
              <button type="button"
                  class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                  (click)="closeModal(false)">
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
                  <span class="sr-only">Close modal</span>
              </button>
          </div>
          <div class="p-4 md:p-5 space-y-4 flex flex-col">
              <p class="text-base leading-relaxed text-gray-200">
                  Please type your server needs in free text and push submit.
              </p>
              <textarea
                rows="4"
                class="w-full accent-emerald-400 bg-gray-200 rounded-lg cursor-pointer range-sm focus:ring-emerald-400 focus:border-emerald-400"
                [(ngModel)]="freetextSearchInput">
              </textarea>
              <button
                class="text-white bg-emerald-400 hover:bg-emerald-500 focus:ring-0 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center "
                (click)="submitFreetextSearch()"
                [disabled]="modalSubmitted"
                >
                Submit
              </button>
              <div *ngIf="modalResponse">
                <div class="text-white"> Suggested filter parameters </div>
                <div class="text-white font-medium text-sm flex flex-col pl-2">
                  <div *ngFor="let item of modalResponseStr" >
                    {{item}}
                  </div>
                </div>
              </div>
          </div>
          <div class="flex flex-col p-4 md:p-5 space-x-3 rtl:space-x-reverse border-t border-gray-200 rounded-b dark:border-gray-600">
              <button
                type="button"
                [disabled]="!modalResponse"
                class="text-white bg-emerald-400 font-medium rounded-lg text-sm px-5 py-2.5 text-center
                 hover:bg-emerald-500 focus:ring-0 focus:outline-none
                 disabled:bg-gray-400 "
                (click)="closeModal(true)">
                  Confirm
              </button>
          </div>
      </div>
  </div>
</div>
