<div class="w-full bg-primary min-h-screen">
    <div class="content pt-16 pb-4 text-white flex flex-col gap-8">
        <app-breadcrumbs [segments]="breadcrumbs"></app-breadcrumbs>

        <div class="max-w-3xl mx-auto w-full px-4">
            <h1 class="font-semibold text-3xl mb-4">
                Welcome to Spare Cores!
            </h1>
            <p>
                We are a team of cloud and data enthusiast professionals dedicated to
                demystifying cloud server options with the goal of optimizing
                cost-efficiency and performance for data science and engineering workloads.
            </p>
            <h2>
                Motivation
            </h2>
            <p>
                Through our experience in designing, implementing, and maintaining
                infrastructure for data science teams worldwide,
                we've identified a common challenge:
                navigating the vast array of cloud server options and tools,
                especially given the diverse compute needs in the data space: for example,
                training a hierarchical model with TiBs of memory,
                performing time-series forecasting with hundreds of CPUs,
                or training neural networks with multiple GPUs.
            </p>
            <p>
                Standard tools like Kubernetes often
                fall short in the data space: not only presenting a steep learning curve,
                but also bin-packing not being well-suited for the diverse compute needs.
                This led us to develop custom solutions — again and again.
            </p>
            <h2>
                Our Mission
            </h2>
            <p>
                We launched the Spare Cores open-source ecosystem to share
                our expertise and data, empowering others to optimize their cloud usage.
            </p>
            <p>
                Discover more in our feature on
                <a href="https://blog.pragmaticengineer.com/spare-cores/" target="_blank" rel="noopener">
                    The Pragmatic Engineer
                </a> — the leading tech Substack — where Gergely Orosz provides
                an in-depth overview of our mission and approach.
            </p>
            <h2>
                Funding
            </h2>
            <p>
                We are proudly self-funded and bootstrapped, with partial support from
                the EU (<a href="/articles/ngi-search-grant">NGI Search granted 150k EUR</a>
                for the Spare Cores project in 2024).
                We are part of the <a href="/articles/nvidia-inception">NVIDIA Inception Program</a>
                and have received support and compute credits from
                Amazon Web Services, Google Cloud, Microsoft Azure, Hetzner, and UpCloud.
            </p>
            <p>
                If you like our work and wish to support us in any way, reach out!
            </p>
            <h2>
                Spare Cores Resources
            </h2>
            <p>
                We maintain a suite of open-source Python tools and projects at our
                <a href="https://github.com/sparecores" target="_blank" rel="noopener">GitHub organization</a>.
                Our <a href="/articles">blog</a> features regular articles with insights
                into cloud computing and data infrastructure.
                Visit our <a href="/talks">conference talks page</a> for video recordings,
                presentation materials, and information on upcoming events where we'd love to connect in person!
            </p>
            <h2>
                Get in touch
            </h2>
            <p>
                For inquiries or to learn more about our work, please <a href="/contact">contact us</a>. 
                We're eager to discuss cloud infrastructure challenges and solutions.
                You can also <a href="https://calendly.com/spare-cores/30min" target="_blank" data-ph-capture-attribute-sc-event="schedule demo">schedule a demo</a>
                to see our tools in action and explore how they can benefit your organization.
            </p>

        </div>
    </div>
</div>