:host {
  display: contents;
}

.workload-profile-radar-chart__canvas {
  min-height: 0;
  width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.workload-profile-radar-chart__canvas--compare {
  height: 460px;
}

.workload-profile-radar-chart__canvas--details {
  height: 420px;
  // max-height: 420px;
}

@media screen and (max-width: 1024px) {
  .workload-profile-radar-chart__canvas--compare {
    width: 100%;
  }
}

.workload-profile-radar-chart__canvas-element {
  display: block;
  width: 100% !important;
  max-width: 100%;
  height: 100% !important;
}
