<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="w-full bg-primary">
  <div class="content pt-16 pb-16 text-white">

    <div *ngIf="serverDetails"
      class="mx-2 xl:mx-0 flex flex-wrap justify-between rounded-lg gap-8 px-6 py-6 bg-secondary border-emerald-400 border boder-solid mt-12"  >
      <div class="flex gap-8 flex-grow lg:w-1/2 w-full" >
        <div class="flex gap-4 flex-col min-w-32">
          <div class="min-w-20 w-20 h-20 bg-white rounded-lg mx-auto">
            <img src="{{serverDetails.vendor.logo}}" alt="logo">
          </div>

        </div>
        <div class="flex flex-col gap-3">
          <h1 class="text-2xl" > <span class="text-emerald-400 font-bold">{{serverDetails.display_name}}</span> by {{serverDetails.vendor.name}} </h1>
          <div> {{description}} </div>

        </div>
      </div>
      <div class="w-full lg:w-2/5 flex ">
        <div class="w-1/2 mr-8">
          <div *ngFor="let item of features, let i = index">
            <div *ngIf="i !== 0" class="w-full h-4 mb-3 border-b border-gray-400 border-solid" ></div>
            <div class="flex gap-2 text-xl items-center text-gray-200">
              <div class="px-1 py-1 rounded-full bg-teal-500 h-6 w-6">
              <lucide-icon name="check" class="h-4 w-4"></lucide-icon>
              </div>
              <b> {{item.value}} </b>
              <span> {{item.name}} </span>
            </div>
          </div>
        </div>

        <div class="border-r border-solid border-emerald-400 h-full w-1" > </div>

        <div class="w-1/2 flex flex-col gap-4 text-center ml-8">
          <div class="text-white text-3xl font-semibold" >Spare <span class="text-emerald-400 "> SC</span>ore </div>
          <div class="flex flex-col gap-4">
            <div class=" text-gray-200">
              <span class="text-3xl text-emerald-400 font-semibold">{{getBenchmark(true)}}</span><br>
              (All-cores)
            </div>
            <div class="text-gray-200" >
              <span class="text-xl">{{getBenchmark(false)}}</span><br>
              (Single-core)
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>


