<div class="funding-container">
  <img
    src="/assets/images/funding/hu_funding_nkfia.jpg"
    alt="NKFIA Logó"
    class="funding-image"
  />

  <div class="funding-content">
    <p><strong>Startup neve: </strong>Spare Cores Kft.</p>
    <p>
      <strong>Startup elérhetősége: </strong>
      <a href="https://sparecores.com">https://sparecores.com</a>
    </p>
    <p><strong>Projekt címe: </strong>Spare Cores Sentinel</p>
    <p><strong>Projekt azonosítója: </strong>2023-1.1.3-STARTUP/BNL-011</p>
    <p>
      <strong>Megvalósítási helyszín: </strong>1037 Budapest, Montevideo utca 9.
    </p>
    <p><strong>Elnyert támogatás összege: </strong>20.440.182.- Ft</p>
    <p>
      <strong>Projekt megvalósítási ideje: </strong>2025.11.10. – 2026.04.30.
    </p>

    <div class="project-summary">
      <p><strong>Projekt rövid összefoglalása:</strong></p>
      <p>
        A Spare Cores egy nyílt forráskódú, adatalapú kezdeményezés, amely a
        felhő-infrastruktúra teljesítményének és költséghatékonyságának
        mérésével és publikálásával támogatja a modern data science, gépi
        tanulás és AI-munkafolyamatok infrastruktúra-döntéseit. A pályázat
        keretében tervezett fejlesztés célja a korábban létrehozott Resource
        Tracker továbbfejlesztése egy skálázható, felhőalapú, menedzselt
        szolgáltatás irányába: a mért erőforrás-használati adatok valós idejű
        streamelése központi Spare Cores infrastruktúrába, ezek biztonságos,
        token alapú azonosítással történő tárolása, valamint egy interaktív
        webes dashboard kialakítása, amely automatikus riportokkal és
        vizualizációkkal támogatja a felhasználók munkáját. A rendszer alapot
        teremt egy jövőbeli, nemzetközi piacra szánt SaaS termékhez, amely a
        data science, machine learning és generatív AI feladatok
        erőforrás-allokációját és költséghatékonyságát optimalizáló ajánlásokat
        nyújt.
      </p>
    </div>
  </div>
</div>
