<div class="funding-container">
  <img
    src="/assets/images/funding/hu_funding_nkfia.jpg"
    alt="NKFIA Logó"
    class="funding-image"
  />

  <div class="funding-content">
    <p><strong>Pályázati azonosító: </strong>2023-1.1.3-STARTUP/BNL-011</p>
    <p><strong>Projekt címe: </strong>Spare Cores Sentinel</p>
    <p><strong>Startup neve: </strong>Spare Cores Kft.</p>
    <p>
      <strong>Startup elérhetősége: </strong>
      <a href="https://www.sparecores.com">www.sparecores.com</a>
    </p>
    <p>
      <strong>Projekt szerződött támogatási összege: </strong>20.440.182.- Ft
    </p>
    <p>
      <strong>Megvalósítási helyszín: </strong>1037 Budapest, Montevideo utca 9.
    </p>
    <p>
      <strong>Projekt megvalósítási időszaka: </strong>2025.11.10. – 2026.04.30.
    </p>

    <div class="project-summary">
      <p><strong>Projekt rövid összefoglalása:</strong></p>
      <p>TBD</p>
    </div>
  </div>
</div>
