<div class="flex justify-end gap-2 items-center">
  @if (currentPage > 1) {
    <sc-button
      id="pagination_prev_arrow"
      icon="chevron-left"
      ariaLabel="Previous page"
      variant="ghost"
      color="inverse"
      buttonClass="pagination-button pagination-button--nav"
      [routerLink]="baseURL"
      [queryParams]="getQueryObjectForPage(this.currentPage - 1)"
      data-ph-capture-attribute-sc-event="server listing paginate"
      data-ph-capture-attribute-pagination-target="prev"
    ></sc-button>
  }
  @if (currentPage > 2) {
    <sc-button
      label="1"
      variant="ghost"
      color="inverse"
      buttonClass="pagination-button"
      [routerLink]="baseURL"
      [queryParams]="getQueryObjectForPage(1)"
      data-ph-capture-attribute-sc-event="server listing paginate"
      data-ph-capture-attribute-pagination-target="first"
    ></sc-button>
    @if (currentPage > 3) {
      <span class="text-white font-bold text-base" aria-hidden="true">...</span>
    }
  }
  @for (page of possiblePages(); track page; let i = $index) {
    <sc-button
      [label]="'' + page"
      [variant]="page === this.currentPage ? 'solid' : 'ghost'"
      [color]="page === this.currentPage ? 'brand' : 'inverse'"
      buttonClass="pagination-button"
      [routerLink]="baseURL"
      [queryParams]="getQueryObjectForPage(page)"
      data-ph-capture-attribute-sc-event="server listing paginate"
      [attr.data-ph-capture-attribute-pagination-target]="i"
    ></sc-button>
  }
  @if (totalPages > currentPage + 3) {
    <span class="text-white font-bold text-base" aria-hidden="true">...</span>
    <sc-button
      [label]="'' + totalPages"
      variant="ghost"
      color="inverse"
      buttonClass="pagination-button"
      [routerLink]="baseURL"
      [queryParams]="getQueryObjectForPage(totalPages)"
      data-ph-capture-attribute-sc-event="server listing paginate"
      data-ph-capture-attribute-pagination-target="last"
    ></sc-button>
  }
  @if (currentPage < totalPages) {
    <sc-button
      id="pagination_next_arrow"
      icon="chevron-right"
      ariaLabel="Next page"
      variant="ghost"
      color="inverse"
      buttonClass="pagination-button pagination-button--nav"
      [routerLink]="baseURL"
      [queryParams]="getQueryObjectForPage(this.currentPage + 1)"
      data-ph-capture-attribute-sc-event="server listing paginate"
      data-ph-capture-attribute-pagination-target="next"
    ></sc-button>
  }
</div>
