<div class="flex justify-end gap-4">
  @if (currentPage > 1) {
    <a
      [routerLink]="baseURL"
      [queryParams]="getQueryObjectForPage(this.currentPage - 1)"
      id="pagination_prev_arrow"
      class="flex justify-center bg-transparent text-white py-2 px-4 w-10 rounded-lg font-bold hover:bg-emerald-400"
      data-ph-capture-attribute-sc-event="server listing paginate"
      data-ph-capture-attribute-pagination-target="prev"
    >
      <lucide-icon name="chevron-left"></lucide-icon>
    </a>
  }
  @if (currentPage > 2) {
    <a
      [routerLink]="baseURL"
      [queryParams]="getQueryObjectForPage(1)"
      class="text-white py-2 px-4 rounded-lg font-bold hover:bg-emerald-400"
      data-ph-capture-attribute-sc-event="server listing paginate"
      data-ph-capture-attribute-pagination-target="first"
    >
      1
    </a>
    @if (currentPage > 3) {
      <span class="text-white py-2 px-4 rounded-lg font-bold" aria-hidden="true"
        >...</span
      >
    }
  }
  @for (page of possiblePages(); track page; let i = $index) {
    <a
      class="text-white py-2 px-4 rounded-lg font-bold hover:bg-emerald-400"
      [ngClass]="{
        'bg-emerald-400': page === this.currentPage,
        'bg-transparent': page !== this.currentPage,
      }"
      data-ph-capture-attribute-sc-event="server listing paginate"
      [attr.data-ph-capture-attribute-pagination-target]="i"
      [routerLink]="baseURL"
      [queryParams]="getQueryObjectForPage(page)"
    >
      {{ page }}
    </a>
  }
  @if (totalPages > currentPage + 3) {
    <span class="text-white py-2 px-4 rounded-lg font-bold" aria-hidden="true"
      >...</span
    >
    <a
      [routerLink]="baseURL"
      [queryParams]="getQueryObjectForPage(totalPages)"
      class="text-white py-2 px-4 rounded-lg font-bold hover:bg-emerald-400"
      data-ph-capture-attribute-sc-event="server listing paginate"
      data-ph-capture-attribute-pagination-target="last"
    >
      {{ totalPages }}
    </a>
  }
  @if (currentPage < totalPages) {
    <a
      [routerLink]="baseURL"
      [queryParams]="getQueryObjectForPage(this.currentPage + 1)"
      id="pagination_next_arrow"
      class="flex justify-center bg-transparent text-white py-2 px-4 w-10 rounded-lg font-bold hover:bg-emerald-400"
      data-ph-capture-attribute-sc-event="server listing paginate"
      data-ph-capture-attribute-pagination-target="next"
    >
      <lucide-icon name="chevron-right"></lucide-icon>
    </a>
  }
</div>
