/*-- scss:defaults --*/

/*-- scss:rules --*/

/* marmaid theme */
:root {
    --mermaid-bg-color: transparent;
    --mermaid-fg-color: white;
    --mermaid-label-fg-color: white;
    --mermaid-node-fg-color: #34d399;
    --mermaid-node-bg-color: #06263a;
    --mermaid-edge-color: white;
    --mermaid-font-family: Inter;

}

body.reveal-viewport  {
    background-color: #082f49;
}
.reveal img.slide-logo {
    left: 15px;
    max-height: 125px;
}

body.speakerview {
    background-size: auto 20px;
}

.reveal.has-logo .slide-number {
    top: auto !important;
    bottom: 45px !important;
    right: 57px !important;
    transform: translate(50%, 0) !important;
    background-color: transparent !important;
}
/* hide on cover slide */
.reveal .slide-number > a[href*='#/cover-slide'] {
    display: none;
}
.slide-number a {
    text-decoration: none !important;
}

.reveal .progress {
    color: #34d399;
}

.reveal .controls button.navigate-right.enabled {
  color: #34d399;
}
.reveal .controls button.navigate-left.enabled {
  color: #34d399;
}
.reveal .controls button.navigate-down.enabled {
  color: #34d399;
}
.reveal .controls button.navigate-up.enabled {
  color: #34d399;
}
.reveal div.slide-number {
  background-color: #06263a;
}

.reveal img.toplogo {
  position: fixed;
  top: 10px;
  margin-left: -125px;
  margin-right: 125px;
  width: 250px;
  height: 250px;
}
.reveal div.centered p {
  text-align: center;
}

.reveal section img {
    margin-top: 0.4em;
}
.reveal .slides section.slide div.centered p img {
    margin-top: -40px;
}

.reveal div.sourceCode {
    margin-top: 40px !important;
    height: auto;
}
.reveal div.sourceCode pre {
    height: 100%;
    overflow: hidden;
    background-color: #06263a;
}

.noborder {
    border: 0px !important;
    box-shadow: none !important;
}

img.rounded {
  border-radius: 50%;
}

.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-70 {
  width: 70%;
}
.w-75 {
  width: 75%;
}
p.bold {
  font-weight: bold;
}

.reveal pre {
    width: 100% !important;
    margin: 0px !important;
}
div.sourceCode {
    /* margin-left: 5% !important; */
    /* margin-right: 5% !important; */
    margin-top: -5px !important;
    border: 2px solid #34d399 !important;
    border-radius: 15px !important;
}
code.sourceCode::-webkit-scrollbar{
  height: 4px;
  width: 4px;
  background: #34D39933;
}
code.sourceCode::-webkit-scrollbar-thumb:vertical{
  background: #34D399;
}

.reveal code {
    font-family: monospace;
    background-color: #06263a;
    padding: 2px 10px;
}

/* two columns */

.flexcontainer{
    display: flex;
}
.flexcol{
    flex: 1;
}

.reveal,
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: Inter !important;
    text-transform: none;
    color: #ffffff;
}

.reveal .title-slide h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: Inter !important;
    text-transform: none;
    color: #34d399;
}

.reveal .title-slide h1, .reveal h2 {
    font-size: 1.25em;
}

.reveal .title-slide h1, .reveal h2, .reveal pre, .reveal pre code {
    font-family: "Roboto Mono" !important;
    font-weight: 400 !important;
    text-transform: none;
    text-align: left;
}

.reveal .title-slide h1.subtitle {
    font-family: Inter !important;
}

.reveal pre code {
  padding: 15px;
}
.reveal pre code span {
  line-height: 1.5;
}

h2.author {
    text-align: center !important;
    font-family: Inter !important;
}

.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal a:hover img {
    border: none;
    box-shadow: none;
}

p {
   /* text-align: left; */
}


.reveal pre code {
    max-height: 600px;
}

code span.va {
  color: #eab308;
}
code span.dv, code span.fl {
  color: #ef4444
}

.cols {
    display: flex;
}
.col {
    flex: 1;
}
.col2 {
    flex: 2;
}

.reveal blockquote {
    width: 90%;
    border-left: 8px solid #34d399;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    color: white;
    background: #1c3d52;
}

.reveal blockquote{
  font-size: 2rem;
  width:90%;
  margin:10px auto;
  /* color: #555555; */
  color: white;
  padding:20px 30px 20px 75px;
  /* border-left:8px solid #1c3d52; */
  border-left: 8px solid #34d399;
  line-height:1.6;
  position: relative;
  /* background:#EDEDED; */
  background: #1c3d52;
}

.reveal blockquote::before{
  font-family:Arial;
  content: "\201C";
  color: #34d399;
  font-size:4em;
  position: absolute;
  left: 20px;
  top: -10px;
}

.reveal clearblockquote::after{
  content: '';
}

.reveal blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 5px;
}

.reveal ul {
    width: calc(100% - 25px);
}
.reveal .slides p {
  text-align: left;
}
.reveal .slides p {
  margin-top: 60px;
}

.cbox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cimg {
  flex: 1;
}


.colcontainer {
  display: flex;
}
.col {
  flex: 1;
}

.reveal pre .smallchunk {
  width: 50%;
}

.shaded {
  text-shadow:
        0.05em 0 black,
        0 0.05em black,
        -0.05em 0 black,
        0 -0.05em black,
        -0.05em -0.05em black,
        -0.05em 0.05em black,
        0.05em -0.05em black,
        0.05em 0.05em black !important;
}

.reveal ul li {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-60 {
  margin-top: 60px !important;
}
.mt-0 {
  margin-top: 0px !important;
}
.mt--10 {
  margin-top: -10px !important;
}
.mt--20 {
  margin-top: -20px !important;
}
.mt--30 {
  margin-top: -30px !important;
}
.mt--45 {
  margin-top: -45px !important;
}
.mt--60 {
  margin-top: -60px !important;
}
.mt--70 {
  margin-top: -70px !important;
}
.mt--90 {
  margin-top: -90px !important;
}

.v-center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
}
.v-center-image {
  ax-height: 80vh;
  max-width: 100vw;
  width: auto;
  height: auto;
}

.columns-center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
  }

.gray {
  color: #999;
}

.centered, p.centered {
  text-align: center !important;
}

.reveal a {
  text-decoration: underline;
  color: white;
}
