.items_table {
  @apply w-full text-white;

  .checkbox_column {
    width: 2rem !important;
    padding-right: 0.5rem !important;
    padding-left: 0.75rem !important;
  }

  thead {
    @apply border-b border-gray-200 border-solid bg-secondary;
    th {
      @apply text-left font-normal text-xs;
    }
  }

  tbody {
    tr:nth-child(2n + 1) {
      @apply bg-primary;
    }
    tr:nth-child(2n) {
      @apply bg-secondary;
    }

    tr {
      td {
        @apply text-left text-sm;
      }
    }
  }
}

.full-caps {
  text-transform: uppercase;
}
