:host {
  display: inline-flex;
  vertical-align: middle;
}

.bookmark-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 9999px;
  color: rgb(156 163 175 / 0.5);
  transition: color 0.15s ease;
  position: relative;
  transform: translateY(-1px);
}

.bookmark-button__icon {
  width: 1.25rem;
  height: 1.25rem;
}

.bookmark-button__icon--add,
.bookmark-button__icon--remove {
  display: none;
  position: absolute;
}

.bookmark-button--active {
  color: rgb(52 211 153);
}

.bookmark-button--active .bookmark-button__icon--default {
  fill: currentColor;
}

.bookmark-button--can-add:hover:not(:disabled) {
  color: rgb(52 211 153);
}

.bookmark-button--can-add:hover:not(:disabled) .bookmark-button__icon--default {
  display: none;
}

.bookmark-button--can-add:hover:not(:disabled) .bookmark-button__icon--add {
  display: block;
  position: static;
}

.bookmark-button--can-remove:hover:not(:disabled) {
  color: #ef4444;
}

.bookmark-button--can-remove:hover:not(:disabled)
  .bookmark-button__icon--default {
  display: none;
}

.bookmark-button--can-remove:hover:not(:disabled)
  .bookmark-button__icon--remove {
  display: block;
  position: static;
}
