<div class="page-header">
  <h1 class="page-header__title">
    <svg [lucideIcon]="icon()" class="h-8 w-8 mr-2" aria-hidden="true"></svg>
    @if (showBookmark()) {
    <button
      type="button"
      class="page-header__icon-btn page-header__bookmark"
      [class.page-header__bookmark--active]="bookmarkActive()"
      [class.page-header__bookmark--can-add]="
          !bookmarkActive() && !bookmarkDisabled() && !bookmarkLoading()
        "
      [class.page-header__bookmark--can-remove]="
          bookmarkActive() && !bookmarkDisabled() && !bookmarkLoading()
        "
      [disabled]="bookmarkDisabled() || bookmarkLoading()"
      [attr.aria-label]="
          bookmarkActive() ? 'Remove bookmark' : 'Add bookmark'
        "
      [attr.aria-pressed]="bookmarkActive()"
      (click)="bookmarkClick.emit($event)"
    >
      <svg
        lucideBookmark
        class="page-header__icon-btn-svg page-header__bookmark-icon page-header__bookmark-icon--default"
      ></svg>
      <svg
        lucideBookmarkPlus
        class="page-header__icon-btn-svg page-header__bookmark-icon page-header__bookmark-icon--add"
      ></svg>
      <svg
        lucideBookmarkOff
        class="page-header__icon-btn-svg page-header__bookmark-icon page-header__bookmark-icon--remove"
      ></svg>
    </button>
    }
    <span class="page-header__title-text">{{ title() }}</span>
    @if (showEdit()) {
    <button
      type="button"
      class="page-header__icon-btn page-header__edit"
      [attr.aria-label]="editAriaLabel()"
      (click)="editClick.emit($event)"
    >
      <svg lucideSquarePen class="page-header__icon-btn-svg"></svg>
    </button>
    }
  </h1>
  <div class="page-header__actions">
    <ng-content></ng-content>
    @if (showShare()) {
    <sc-button
      [attr.id]="shareButtonId()"
      label="Share"
      [icon]="shareIcon()"
      [variant]="shareVariant()"
      (buttonClick)="shareClick.emit($event)"
    ></sc-button>
    }
  </div>
</div>
