<div class="page-header">
  <h1 class="page-header__title">
    <svg [lucideIcon]="icon()" class="h-8 w-8 mr-2" aria-hidden="true"></svg>
    {{ title() }}
  </h1>
  <div class="page-header__actions">
    <ng-content></ng-content>
    @if (showShare()) {
      <sc-button
        [attr.id]="shareButtonId()"
        label="Share"
        [icon]="shareIcon()"
        [variant]="shareVariant()"
        size="large"
        textSize="large"
        fontWeight="bold"
        (buttonClick)="shareClick.emit($event)"
      ></sc-button>
    }
  </div>
</div>
