<div class="page-header">
  <h1 class="page-header__title">
    <svg [lucideIcon]="icon()" class="h-8 w-8 mr-2" aria-hidden="true"></svg>
    @if (showSavedBookmark()) {
    <svg
      lucideBookmark
      class="h-6 w-6 mr-2 text-emerald-400 fill-emerald-400"
    ></svg>
    } {{ title() }}
  </h1>
  <div class="page-header__actions">
    <ng-content></ng-content>
    @if (showShare()) {
    <sc-button
      [attr.id]="shareButtonId()"
      label="Share"
      [icon]="shareIcon()"
      [variant]="shareVariant()"
      (buttonClick)="shareClick.emit($event)"
    ></sc-button>
    }
  </div>
</div>
