<div class="w-full bg-primary">
  <div class="content pt-16 pb-16">
    <app-breadcrumbs [segments]="breadcrumbs"></app-breadcrumbs>

    <div class="flex flex-col mt-8 text-white">
      <h1 class="font-semibold text-3xl mb-4">Spare Cores Conference Talks</h1>
      <div class="text-white text-xl pr-16 mb-4">
        Browse past and upcoming Spare Cores presentations, with slides and
        video recordings when available:
      </div>
      <div class="w-full flex flex-col gap-4 px-6 py-4">
        <table class="items_table">
          <thead>
            <tr>
              <th>DATE</th>
              <th>CONFERENCE</th>
              <th class="hidden lg:table-cell">SPEAKER</th>
              <th>TITLE</th>
              <th>LINK</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of talks">
              <td>{{ item.date | timeToShortDate }}</td>
              <td>
                <div class="flex flex-col">
                  <a
                    *ngIf="item.conference_url"
                    [href]="item.conference_url"
                    target="_blank"
                    rel="noopener"
                    >{{ item.conference }}</a
                  >
                  <span *ngIf="!item.conference_url">{{
                    item.conference
                  }}</span>
                  <div class="text-sm text-gray-200">{{ item.location }}</div>
                </div>
              </td>
              <td class="hidden lg:table-cell">
                <div class="flex gap-2 items-center">
                  <div>
                    <img
                      src="assets/images/team/{{ item.author }}.webp"
                      class="w-8 max-h-8 rounded-full"
                      alt="{{ item.author }} profile picture"
                    />
                  </div>
                  <div>{{ item.author }}</div>
                </div>
              </td>
              <td>
                <a
                  *ngIf="item.conference_talk_url"
                  [href]="item.conference_talk_url"
                  target="_blank"
                  rel="noopener"
                  >{{ item.title }}</a
                >
                <span *ngIf="!item.conference_talk_url">{{ item.title }}</span>
              </td>
              <td>
                <div class="flex gap-2">
                  <a
                    *ngIf="item.conference_talk_slides"
                    title="Slides"
                    [href]="item.conference_talk_slides"
                    target="_blank"
                  >
                    <lucide-icon name="scroll-text"> </lucide-icon>
                  </a>
                  <a
                    *ngIf="item.conference_talk_video"
                    title="Video recording"
                    [href]="item.conference_talk_video"
                    target="_blank"
                    rel="noopener"
                  >
                    <lucide-icon name="youtube"> </lucide-icon>
                  </a>
                  <span
                    *ngIf="
                      !item.conference_talk_slides &&
                      !item.conference_talk_video
                    "
                    class="flex items-center gap-2"
                  >
                    <lucide-icon name="hourglass"> </lucide-icon>
                    <span class="text-sm">TBA</span>
                  </span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
