.content {
  min-height: 100vh;
}

.items_table {
  @apply w-full text-white;

  thead {
    @apply border-b border-gray-200 border-solid bg-secondary;
    th {
      @apply text-left px-5 py-3 font-normal text-xs;
    }
  }

  tbody {
    tr:nth-child(2n + 1) {
      @apply bg-primary;
    }
    tr:nth-child(2n) {
      @apply bg-secondary;
    }

    tr {
      td {
        @apply px-5 py-3 text-left text-sm;
        a {
          @apply underline decoration-dotted;
        }
      }
    }
  }
}

a:hover {
  @apply hover:text-gray-500;
}
