@let bannerMessage = message();

<div
  class="promo-banner"
  [class.promo-banner--advisor]="isAdvisorBanner()"
  [class.promo-banner--site]="!isAdvisorBanner()"
>
  <div class="promo-banner__body">
    @if (bannerMessage.lead) {
    <span class="promo-banner__lead">{{ bannerMessage.lead }}</span>
    }
    <span class="promo-banner__copy">{{ bannerMessage.body }}</span>
  </div>

  <div class="promo-banner__actions">
    @if (bannerMessage.ctaHref && bannerMessage.ctaLabel) {
    <a
      class="promo-banner__cta"
      [routerLink]="bannerMessage.ctaHref"
      [attr.aria-label]="bannerMessage.ariaLabel"
    >
      {{ bannerMessage.ctaLabel }}
      <lucide-icon name="chevron-right" class="h-4 w-4"></lucide-icon>
    </a>
    } @else if (bannerMessage.ctaLabel && bannerMessage.ctaId) {
    <button [id]="bannerMessage.ctaId" type="button" class="promo-banner__cta">
      {{ bannerMessage.ctaLabel }}
      <lucide-icon name="chevron-right" class="h-4 w-4"></lucide-icon>
    </button>
    } @if (dismissible()) {
    <button
      type="button"
      class="promo-banner__close"
      aria-label="Dismiss promo banner"
      (click)="dismiss($event)"
    >
      <lucide-icon name="x" class="h-4 w-4"></lucide-icon>
    </button>
    }
  </div>
</div>
