/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './assets/fonts/font_roboto_mono_main.css';

$content-max-width: 1400px;

@layer components {
  .btn-primary {
    @apply bg-emerald-400 text-white font-semibold shadow-md hover:bg-emerald-500 focus:outline-none focus:ring focus:ring-emerald-400 focus:ring-opacity-75;
    transition-duration: 0.15s;
    transition-property: background-color, border-color, box-shadow, color;
    transition-timing-function: ease-in;
  }
  .btn-normal {
    @apply py-3 px-4 rounded-lg;
  }

  .bg-primary {
    @apply bg-sky-950;
  }

  .bg-secondary {
    background-color: #06263a;
  }

  .shadow_border {
    border-color: rgba(#34D399, 0.2);
  }

  .shadown_color {
    color: rgba(#34D399, 0.2);
  }

  .content{
    max-width: $content-max-width;
    margin: auto;
  }
}

:root {

  --swiper-pagination-color: #34D399;
  --swiper-pagination-bullet-size: 8px;
  --swiper-pagination-bullet-width: 8px;
  --swiper-pagination-bullet-height: 8px;
  --swiper-pagination-bullet-inactive-color: #fff;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 4px;
  --swiper-pagination-bullet-vertical-gap: 6px;
}
