<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="w-full bg-primary min-h-screen">
  <div class="content pt-16 pb-16">
    <app-breadcrumbs [segments]="breadcrumbs"></app-breadcrumbs>

    <div class="flex flex-col gap-4 my-8 mx-2 xl:mx-0">
      <div class="flex gap-4 items-center w-full justify-between">
        <h1 class="text-white font-bold text-3xl">{{title}}</h1>
        <div *ngIf="instances.length" class="flex gap-4">
          <button
            id="currency_button"
            class="dropdown_button"
            type="button">
            <div class="px-4 py-3">
            {{selectedCurrency.slug}}
            </div>
            <div class="px-4 py-3 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
              <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
            </div>
          </button>
          <button class="btn-primary py-2 px-3 flex gap-1 items-center" (click)="clipboardURL($event)">
            Share
            <lucide-icon name="{{clipboardIcon}}" size="16" class="ml-2"></lucide-icon>
          </button>
        </div>
      </div>
      <div *ngIf="instances.length" class="text-white text-xl pr-16" [innerHTML]="description">
      </div>
    </div>

    <div *ngIf="!instances.length" class="flex flex-col gap-4 mx-2 xl:mx-0" id="comparesDiv" #comparesDiv>
      <div class="text-white text-xl pr-16">
        Compare cloud servers and their characteristics, such as CPU, GPU, memory, and storage details, and the performance of the instances by various benchmarking workloads to find the optimal compute resource for your needs.
      </div>
      <div class="text-white text-xl pr-16">
        To get started, select at least two servers using the checkboxes in the left column of our <a class="text-emerald-400" routerLink="/servers" >servers listing page</a>, and optionally add/remove servers on their dedicated server details pages as well via the "Compare" button, or find below a curated list of server comparison sets.
      </div>

      <div class="flex flex-col gap-4 mt-4">
        <div
          class="flex flex-col py-6 gap-2 text-white"
          [ngClass]="{
            'bg-secondary rounded-lg px-6': item.type === 'card'
          }"
          *ngFor="let item of specialCompares"
        >
          <h2 *ngIf="item.type === 'section'" class="text-2xl font-semibold">
            {{item.title}}
          </h2>
          <h3 *ngIf="item.type === 'card'">
            <a routerLink="/compare/{{item.id}}" class="text-emerald-400 text-xl font-semibold"> {{item.title}} </a>
          </h3>
          <div
            *ngIf="item.description && item.hide_description_in_index !==  true"
            class="description_inner_html"
            [ngClass]="{'text-lg space-y-4': item.type === 'section'}"
            [innerHTML]="item.description">
          </div>
          <details
            *ngIf="item.query"
            class="flex flex-col gap-2 [&_svg]:open:-rotate-90"
            [ngClass]="{'mt-4': item.type === 'section'}">
            <summary class="text-sm list-none cursor-pointer">
              SQL query used to select instances
              <svg class="inline fill-current opacity-75 w-4 h-4 -mr-1 rotate-90" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
            </summary>
            <pre class="sourceCode sql"><code class="sourceCode sql">{{item.query}}</code></pre>
          </details>
          <div *ngIf="item.instances" class="text-sm flex flex-wrap gap-2"> Instances:
            <a *ngFor="let instance of item.instances" class="underline decoration-dotted whitespace-nowrap" routerLink="/server/{{instance.vendor}}/{{instance.server}}" >
              {{instance.server}} ({{instance.vendor}})
            </a>
          </div>
        </div>
      </div>

      <hr class="mt-6">
      <div class="text-white text-xl pr-16 mt-3">
        <p><i>You made it to the bottom of the page and still missing the list of servers you hoped to see?</i></p>
        <p class="mt-3">Compile your own comparison as per above on our <a class="text-emerald-400" routerLink="/servers" >servers listing page</a>, then open a <a href="https://github.com/SpareCores/sc-www/issues/new" class="text-emerald-400" target="_blank" rel="noopener">GitHub ticket</a> with the crafted URL and some details on why you find it useful, and we will be happy to review your request and add to our repository! Alternatively, open a pull request editing the <a href="https://github.com/SpareCores/sc-www/blob/main/src/app/pages/server-compare/special-compares.js" class="text-emerald-400" target="_blank" rel="noopener">special-compares.js</a> file directly.</p>
      </div>

    </div>

    <div *ngIf="instances.length" id="table_holder" #tableHolder class="overflow-x-auto relative min-h-screen mx-2 xl:mx-0" style="padding-left: 1px;">
      <div *ngIf="isLoading" class="absolute top-0 left-0 w-full h-full z-10" style="background-color: rgba(0,0,0,0.2);" >
        <div class="flex justify-center mt-16 opacity-100" role="status">
          <svg aria-hidden="true" class="inline w-12 h-12 text-gray-200 animate-spin fill-emerald-400" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
              <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
          </svg>
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="isBrowser() && isTableOutsideViewport" class="fixed_thead" [style]="getFixedDivStyle()">
        <table class="items_table" [style]="getMainTableWidth()">
          <thead>
            <tr>
              <th [style]="getStickyHeaderFirstColStyle()">
              </th>
              <th *ngFor="let item of servers let i = index" [style]="getStyle()">
                <a class="underline decoration-dotted" href="/server/{{item.vendor_id}}/{{item.api_reference}}" target="_blank">
                  {{toUpper(item.display_name)}}
                </a>
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <div>
        <table id="main-table" #mainTable class="items_table">
          <thead>
            <tr>
              <th #tableFirstCol >
              </th>
              <th *ngFor="let item of servers" [style]="getStyle()" class="align-baseline" id="main-table-th">
                <div class="flex flex-col gap-1 justify-center" style="width: fit-content;" >
                <a class="underline decoration-dotted" href="/server/{{item.vendor_id}}/{{item.api_reference}}" target="_blank">
                  {{toUpper(item.display_name)}}
                </a>
                <div class="flex gap-2 justify-center" >
                  <div
                    class="text-emerald-400 text-xl"
                    (mouseenter)="showTooltip($event, 'Lowest price')"
                    (mouseleave)="hideTooltip()"
                    *ngIf="isBestPrice(item)" >💰
                  </div>
                  <div class="text-emerald-400 text-xl"
                    (mouseenter)="showTooltip($event, 'Best value for price')"
                    (mouseleave)="hideTooltip()"
                    *ngIf="isBestSSCore(item)" >🥇
                  </div>
                  <div class="text-emerald-400 text-xl"
                    (mouseenter)="showTooltip($event, 'Top performance')"
                    (mouseleave)="hideTooltip()"
                    *ngIf="getBecnchmarkStyle(item, true) !== ''" >
                    💪
                  </div>
                </div>
              </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                Vendor
              </td>
              <ng-container *ngFor="let item of servers">
                <td>
                  <div *ngIf="item.vendor.logo" class="w-9 h-9 px-1 py-1 bg-white rounded-lg">
                    <img [src]="item.vendor.logo" alt="{{item.vendor.name}} logo" >
                  </div>
                  <div *ngIf="!item.vendor.logo" class="text-white text-sm">
                      {{item.vendor.name}}
                  </div>
                </td>
              </ng-container>
            </tr>
            <tr>
              <td>
                <div class="flex gap-1 items-center" >
                  $Core
                  <lucide-icon
                    name="info"
                    class="h-4 w-4 text-gray-200"
                    (mouseenter)="showTooltip($event, SSCoreTooltip)"
                    (mouseleave)="hideTooltip()">
                  </lucide-icon>
                </div>
              </td>
              <ng-container *ngFor="let item of servers">
                <td>
                  <div [style]="getSScoreStyle(item)">
                      {{getSScore(item)}}
                  </div>
                </td>
              </ng-container>
            </tr>
            <tr>
              <td>
                SCore All
              </td>
              <ng-container *ngFor="let item of servers">
                <td>
                  <div [style]="getBecnchmarkStyle(item, true)">
                      {{getBenchmark(item, true)}}
                  </div>
                </td>
              </ng-container>
            </tr>
            <tr>
              <td>
                SCore Single
              </td>
              <ng-container *ngFor="let item of servers">
                <td>
                  <div [style]="getBecnchmarkStyle(item, false)">
                    {{getBenchmark(item, false)}}
                  </div>
                </td>
              </ng-container>
            </tr>
            <tr>
              <td>
                Best spot price
              </td>
              <ng-container *ngFor="let item of servers">
                <td>
                  <div [style]="getBestPriceStyle(item, 'spot')">
                    {{getBestPrice(item, "spot")}}
                  </div>
                </td>
              </ng-container>
            </tr>
            <tr>
              <td>
                Best ondemand price
              </td>
              <ng-container *ngFor="let item of servers">
                <td>
                  <div [style]="getBestPriceStyle(item)">
                    {{getBestPrice(item)}}
                  </div>
                </td>
              </ng-container>
            </tr>
            <ng-container *ngFor="let category of instancePropertyCategories">
              <tr class="section_header">
                <td>
                  <h2 class="text-xl font-semibold">{{category.name}}</h2>
                </td>
                <td [colSpan]="servers.length">

                </td>
              </tr>
              <tr *ngFor="let column of category.properties; let i = index" >
                <td class="whitespace-nowrap">
                  <div class="flex gap-2 items-center">
                    {{column.name}}
                    <lucide-icon
                      *ngIf="column.description"
                      name="info"
                      class="h-4 w-4 text-gray-200"
                      (mouseenter)="showTooltip($event, column.description)"
                      (mouseleave)="hideTooltip()">
                    </lucide-icon>
                  </div>
                </td>
                <ng-container *ngFor="let server of servers">
                  <td>
                    <div [style]="getBestCellStyle(column.id, server)" >
                      {{getProperty(column, server)}}
                    </div>
                  </td>
                </ng-container>
              </tr>
            </ng-container>
            <ng-container *ngFor="let category of benchmarkCategories">
              <ng-container *ngIf="category.data.length && !category.hidden">
                <tr class="section_header" id="benchmark_line_{{category.id}}">
                  <td [colSpan]="getSectionColSpan()" >
                    <div class="flex justify-between">
                      <h3 class="text-xl font-semibold flex gap-2 items-center">{{category.name}}
                        <lucide-icon
                          name="circle-arrow-up"
                          class="h-4 w-4 text-gray-200"
                          (mouseenter)="showTooltip($event, 'Higher is better.')"
                          (mouseleave)="hideTooltip()">
                        </lucide-icon>
                        <lucide-icon
                          *ngIf="category.id === 'geekbench'"
                          name="info"
                          class="h-4 w-4 text-gray-200"
                          (mouseenter)="showTooltipGB($event)"
                          (mouseleave)="hideTooltipGB()">
                        </lucide-icon>
                        <lucide-icon
                          *ngIf="category.id === 'bw_mem' || category.id === 'openssl'"
                          name="info"
                          class="h-4 w-4 text-gray-200"
                          (mouseenter)="showTooltipChart($event, category.id)"
                          (mouseleave)="hideTooltip()">
                        </lucide-icon>
                        <lucide-icon
                          *ngIf="category.id === 'stress_ng'"
                          name="info"
                          class="h-4 w-4 text-gray-200"
                          (mouseenter)="showTooltipChart($event, 'stress_ng:div16')"
                          (mouseleave)="hideTooltip()">
                        </lucide-icon>
                        <lucide-icon
                          *ngIf="category.id === 'stress_ng_pct'"
                          name="info"
                          class="h-4 w-4 text-gray-200"
                          (mouseenter)="showTooltip($event, 'The relative performance is a percentage showing the multi-core SCore\'s normalized value (multi-core SCore/vCPUs)  compared to the single-core SCore. This metric shows how well a server can scale to multiple vCPUs, and e.g. the effect of Hyper-Threading.')"
                          (mouseleave)="hideTooltip()">
                        </lucide-icon>
                        <lucide-icon
                          *ngIf="category.id === 'compress'"
                          name="info"
                          class="h-4 w-4 text-gray-200"
                          (mouseenter)="showTooltip($event, 'Measuring the compression ratio and speed while compressing and decompressing the dickens.txt of the Silesia corpus (10 MB uncompressed) using various algorithms, compressions levels and other extra arguments.')"
                          (mouseleave)="hideTooltip()">
                        </lucide-icon>
                      </h3>
                      <button class="btn-primary py-2 px-3 flex gap-1 items-center sticky right-2" (click)="clipboardURL($event, 'benchmark_line_' + category.id)">
                        <lucide-icon name="{{clipboardIcon}}" size="16"></lucide-icon>
                      </button>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td [colSpan]="servers.length + 1" >
                    <div *ngIf="category.id === 'bw_mem'" >
                      <div class="block_full_inline" *ngIf="lineChartDataBWmem">
                        <div class="flex justify-end items-center">
                          <button
                            id="bw_mem_button"
                            class="dropdown_button"
                            type="button">
                              <div class="px-4 py-3">
                                {{selectedBWMemOperation.name}}
                              </div>
                              <div class="px-4 py-3 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
                                <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
                              </div>
                          </button>
                        </div>
                        <div *ngIf="isBrowser()">
                          <div chartType="bar">
                            <canvas
                              style="height: 350px; max-height: 350px; max-width:100%"
                              baseChart
                              [data]="lineChartDataBWmem"
                              [options]="lineChartOptionsBWMem"
                              [type]="lineChartType"
                            >
                            </canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="category.id === 'openssl'" >
                      <div class="block_full_inline" *ngIf="barChartDataSSL">
                        <div class="flex justify-end items-center">
                          <button
                            id="ssl_button"
                            class="dropdown_button"
                            type="button">
                              <div class="px-4 py-3">
                                {{selectedSSLAlgo.name}}
                              </div>
                              <div class="px-4 py-3 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
                                <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
                              </div>
                          </button>
                        </div>
                        <div *ngIf="isBrowser()">
                          <div chartType="bar">
                            <canvas
                              style="height: 350px; max-height: 350px; width: 100%"
                              baseChart
                              [data]="barChartDataSSL"
                              [options]="barChartOptionsSSL"
                              [type]="barChartType"
                            >
                            </canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="category.id === 'stress_ng'" >
                      <div class="block_full_inline" *ngIf="lineChartDataStressNG">
                        <div *ngIf="isBrowser()">
                          <div chartType="line">
                            <canvas
                              style="height: 400px; max-height: 400px; width: 100%"
                              baseChart
                              [data]="lineChartDataStressNG"
                              [options]="lineChartOptionsStressNG"
                              [type]="lineChartType"
                            >
                            </canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="category.id === 'stress_ng_pct'" >
                      <div class="block_full_inline" *ngIf="lineChartDataStressNG">
                        <div *ngIf="isBrowser()">
                          <div chartType="line">
                            <canvas
                              style="height: 400px; max-height: 400px; width: 100%"
                              baseChart
                              [data]="lineChartDataStressNG"
                              [options]="lineChartOptionsStressNGPercent"
                              [type]="lineChartType"
                            >
                            </canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="category.id === 'compress'">
                      <div class="block_full_short_inline" *ngIf="availableCompressMethods?.length">
                        <div class="flex justify-end items-center">
                          <div class="flex gap-4">
                            <button
                              id="compress_method_button"
                              data-ph-capture-attribute-sc-event="server details price allocation select"
                              data-dropdown-toggle="compress_method_options"
                              class="dropdown_button"
                              type="button">
                              <div class="px-3 py-2">
                                {{selectedCompressMethod.name}}
                              </div>
                              <div class="px-3 py-2 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
                                <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
                              </div>
                            </button>
                          </div>
                        </div>
                        <div *ngIf="isBrowser()" class="charts_div">
                          <div chartType="bar" class="chart_div">
                            <canvas
                              style="height: 350px; max-width:100%"
                              baseChart
                              [data]="lineChartDataCompress"
                              [options]="lineChartOptionsCompress"
                              [type]="lineChartType"
                            >
                            </canvas>
                          </div>
                          <div chartType="bar" class="chart_div">
                            <canvas
                              style="height: 350px; max-width:100%"
                              baseChart
                              [data]="lineChartDataDecompress"
                              [options]="lineChartOptionsDecompress"
                              [type]="lineChartType"
                            >
                            </canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="category.id === 'geekbench'">
                      <div class="block_full_short_inline" *ngIf="radarChartDataGeekSingle">
                        <div *ngIf="isBrowser()" class="charts_div">
                          <div chartType="bar"  class="chart_div">
                            <canvas
                              #chartPriceLowest
                              id="chartPriceLowest"
                              style="max-height: 420px; max-width:100%"
                              baseChart
                              [data]="radarChartDataGeekSingle"
                              [options]="radarChartOptionsSingle"
                              [type]="radarChartType"
                            >
                            </canvas>
                          </div>
                          <div chartType="bar"  class="chart_div">
                            <canvas
                              #chartPriceLowest
                              id="chartPriceLowest"
                              style="max-height: 420px; max-width:100%"
                              baseChart
                              [data]="radarChartDataGeekMulti"
                              [options]="radarChartOptionsMulti"
                              [type]="radarChartType"
                            >
                            </canvas>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="mt-4 mb-8 flex justify-center"
                      [ngClass]="{
                        'mb-8': !category.show_more
                      }">
                      <button class="btn-primary py-2 px-3" (click)="toggleBenchmarkCategory(category)">
                        {{category.show_more ? 'Hide' : 'Show'}} Details
                      </button>
                    </div>
                  </td>
                </tr>
                <ng-container *ngIf="category.show_more">
                  <ng-container *ngFor="let item of category.data">
                    <tr *ngIf="category.data.length > 1">
                      <td [colSpan]="servers.length + 1" >
                        <div class="ml-4 flex justify-between">
                          <div class="flex gap-2 items-center">
                            {{item.name}}
                            <lucide-icon
                              *ngIf="item.description"
                              name="info"
                              class="h-4 w-4 text-gray-200"
                              (mouseenter)="showTooltip($event, item.description)"
                              (mouseleave)="hideTooltip()">
                            </lucide-icon>
                          </div>
                          <lucide-icon
                            *ngIf="item.description"
                            [name]="benchmarkIcon(item)"
                            class="h-6 w-6 text-emerald-400 cursor-pointer"
                            (click)="toggleBenchmark(item)"
                            >
                          </lucide-icon>
                        </div>
                      </td>
                    </tr>
                    <ng-container *ngIf="!item.collapsed" >
                      <tr *ngFor="let config of item.configs">
                        <td>
                          <div class="ml-6" [innerHTML]="serializeConfig(config.config)" ></div></td>
                        <td *ngFor="let value of config.values" [style]="isBestStyle(value, config.values, item)">
                              {{numberWithCommas(value)}}
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </ng-container>
            </ng-container>
            </ng-container>
            <ng-container *ngFor="let chartItem of multiBarCharts">
              <ng-container *ngIf="chartItem.chart.chartData">
                <tr class="section_header" id="benchmark_line">
                  <td [colSpan]="2" >
                    <h3 class="text-xl font-semibold flex gap-2 items-center">{{chartItem.chart.name}}
                      <lucide-icon
                        *ngIf="chartItem.chart.options[chartItem.chart.selectedOption].icon"
                        name="{{chartItem.chart.options[chartItem.chart.selectedOption].icon}}"
                        class="h-4 w-4 text-gray-200"
                        (mouseenter)="showTooltip($event, chartItem.chart.options[chartItem.chart.selectedOption].tooltip)"
                        (mouseleave)="hideTooltip()">
                      </lucide-icon>
                      <lucide-icon
                        name="info"
                        class="h-4 w-4 text-gray-200"
                        (mouseenter)="showTooltipChart($event, chartItem.chart.options[chartItem.chart.selectedOption].benchmark_id)"
                        (mouseleave)="hideTooltip()">
                      </lucide-icon>
                    </h3>
                  </td>
                  <td [colSpan]="servers.length -1">

                  </td>
                </tr>
                <tr>
                  <td [colSpan]="servers.length + 1" >
                    <div>
                      <div class="block_full_inline" *ngIf="chartItem.chart.chartData">
                        <div class="flex justify-end items-center gap-4">
                          <button
                            *ngIf="chartItem.chart.secondaryOptions?.length > 1"
                            id="{{chartItem.chart.id}}_button2"
                            class="dropdown_button"
                            type="button">
                            <div class="px-3 py-2">
                              {{chartItem.chart.secondaryOptions[chartItem.chart.selectedSecondaryOption].name}}
                            </div>
                            <div class="px-3 py-2 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
                              <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
                            </div>
                          </button>
                          <button
                            id="{{chartItem.chart.id}}_button"
                            class="dropdown_button"
                            type="button">
                            <div class="px-3 py-2">
                              {{chartItem.chart.options[chartItem.chart.selectedOption].name}}
                            </div>
                            <div class="px-3 py-2 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
                              <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
                            </div>
                          </button>
                        </div>
                        <div *ngIf="isBrowser()">
                          <div chartType="bar">
                            <canvas
                              style="height: 350px; max-height: 350px; max-width:100%"
                              baseChart
                              [data]="chartItem.chart.chartData"
                              [options]="chartItem.chart.chartOptions"
                              [type]="chartItem.chart.chartType"
                            >
                            </canvas>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="mt-4 mb-8 flex justify-center"
                      [ngClass]="{
                        'mb-8': !chartItem.show_more
                      }">
                      <button class="btn-primary py-2 px-3" (click)="toggleBenchmarkCategory(chartItem)">
                        {{chartItem.show_more ? 'Hide' : 'Show'}} Details
                      </button>
                    </div>
                </td>
                </tr>
                <ng-container *ngIf="chartItem.show_more">
                  <ng-container *ngFor="let item of chartItem.data">
                    <tr *ngIf="chartItem.data.length > 1">
                      <td [colSpan]="servers.length + 1" >
                        <div class="ml-4 flex justify-between">
                          <div class="flex gap-2 items-center">
                            {{item.name}}
                            <lucide-icon
                              *ngIf="item.description"
                              name="info"
                              class="h-4 w-4 text-gray-200"
                              (mouseenter)="showTooltip($event, item.description)"
                              (mouseleave)="hideTooltip()">
                            </lucide-icon>
                          </div>
                          <lucide-icon
                            *ngIf="item.description"
                            [name]="benchmarkIcon(item)"
                            class="h-6 w-6 text-emerald-400 cursor-pointer"
                            (click)="toggleBenchmark(item)"
                            >
                          </lucide-icon>
                        </div>
                      </td>
                    </tr>
                    <ng-container *ngIf="!item.collapsed" >
                      <tr *ngFor="let config of item.configs">
                        <td>
                          <div class="ml-6" [innerHTML]="serializeConfig(config.config)" ></div></td>
                        <td *ngFor="let value of config.values" [style]="isBestStyle(value, config.values, item)">
                              {{numberWithCommas(value)}}
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </ng-container>
            </ng-container>
            </ng-container>

            <ng-container *ngIf="getUncategorizedBenchmarksCategories()?.length">
              <tr class="section_header">
                <td [colSpan]="2" >
                  <h3 class="pl-3 text-xl font-semibold">Further Benchmarks</h3>
                </td>
                <td [colSpan]="servers.length - 1">
              </tr>
              <ng-container *ngFor="let item of getUncategorizedBenchmarksCategories()">
                <tr>
                  <td [colSpan]="servers.length + 1" >
                    <div class="pl-4 w-full flex justify-between">
                      <div class="flex gap-2 items-center">
                        {{item.name}}
                        <lucide-icon
                          *ngIf="item.description"
                          name="info"
                          class="h-4 w-4 text-gray-200"
                          (mouseenter)="showTooltip($event, item.description)"
                          (mouseleave)="hideTooltip()">
                        </lucide-icon>
                      </div>
                      <lucide-icon
                        *ngIf="item.description"
                        [name]="benchmarkIcon(item)"
                        class="h-6 w-6 text-emerald-400 cursor-pointer"
                        (click)="toggleBenchmark(item)"
                        >
                      </lucide-icon>
                    </div>
                  </td>
                </tr>
                <ng-container *ngIf="!item.collapsed" >
                  <tr *ngFor="let config of item.configs">
                    <td >
                      <div class="ml-6" [innerHTML]="serializeConfig(config.config)" ></div></td>
                    <td *ngFor="let value of config.values" [style]="isBestStyle(value, config.values, item)">
                          {{numberWithCommas(value)}}
                    </td>
                  </tr>
                </ng-container>
              </ng-container>
            </ng-container>
            <tr>
              <td>View Server</td>
              <td *ngFor="let item of servers">
                <button class="btn-primary py-2 px-3" (click)="viewServer(item)">
                  {{item.display_name}}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div id="tooltipDefault"
  #tooltipDefault
  style="opacity: 0; z-index: 22"
  class="absolute z-100 inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-secondary border border-solid border-emerald-400 rounded-lg">
  {{tooltipContent}}
</div>

<div id="tooltipGeekbench"
  #tooltipGeekbench
  style="opacity: 0; display: none;"
  class="absolute z-100 inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-secondary border border-solid border-emerald-400 rounded-lg">
  <div [innerHTML]="geekbenchHTML" ></div>
</div>

<div id="currency_options" class="z-100 hidden bg-secondary rounded-lg shadow w-52 border border-emerald-400 border-solid">
  <ul class="py-2 px-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
    <li *ngFor="let item of availableCurrencies"
      class="flex py-1 px-2 gap-2 items-center cursor-pointer hover:bg-emerald-500 rounded-sm"
      (click)="selectCurrency(item)" >
      <div class="text-white text-sm ">{{item.name}} ({{item.symbol}})</div>
    </li>
  </ul>
</div>

<div id="bw_mem_options" class="z-100 hidden bg-secondary rounded-lg shadow w-52 border border-emerald-400 border-solid">
  <ul class="py-2 px-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
    <li *ngFor="let item of availableBWmem"
      class="flex py-1 px-2 gap-2 items-center cursor-pointer hover:bg-emerald-500 rounded-sm"
      (click)="selectBWMemOperation(item)" >
      <div class="text-white text-sm ">{{item.name}}</div>
    </li>
  </ul>
</div>

<div id="ssl_options" class="z-100 hidden bg-secondary rounded-lg shadow w-52 border border-emerald-400 border-solid">
  <ul class="py-2 px-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
    <li *ngFor="let item of availableSSLAlgos"
      class="flex py-1 px-2 gap-2 items-center cursor-pointer hover:bg-emerald-500 rounded-sm"
      (click)="selecSSLAlgorithm(item)" >
      <div class="text-white text-sm ">{{item.name}}</div>
    </li>
  </ul>
</div>

<ng-container *ngFor="let chartItem of multiBarCharts">
  <div id="{{chartItem.chart.id}}_options" class="z-100 hidden bg-secondary rounded-lg shadow w-44 border border-emerald-400 border-solid">
    <ul class="py-2 px-1 text-sm text-gray-700" aria-labelledby="dropdownDefaultButton">
      <li *ngFor="let item of chartItem.chart.options, let i = index" class="flex py-1 gap-2 items-center">
          <div
            class="text-emerald-400 hover:text-emerald-500 cursor-pointer font-bold ml-2"
            (click)="selectChartTemplateOption(chartItem, i)">
            {{item.name}}
          </div>
      </li>
    </ul>
  </div>

  <div
    *ngIf="chartItem.chart.secondaryOptions?.length > 1"
    id="{{chartItem.chart.id}}_options2"
    class="z-100 hidden bg-secondary rounded-lg shadow w-44 border border-emerald-400 border-solid">
    <ul class="py-2 px-1 text-sm text-gray-700" aria-labelledby="dropdownDefaultButton">
      <li *ngFor="let item of chartItem.chart.secondaryOptions, let i = index" class="flex py-1 gap-2 items-center">
          <div
            class="text-emerald-400 hover:text-emerald-500 cursor-pointer font-bold ml-2"
            (click)="selectChartTemplateOption2(chartItem, i)">
            {{item.name}}
          </div>
      </li>
    </ul>
  </div>

</ng-container>

<div id="compress_method_options" class="z-100 hidden bg-secondary rounded-lg shadow w-52 border border-emerald-400 border-solid">
  <ul class="py-2 px-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
    <li *ngFor="let item of availableCompressMethods"
      class="flex py-1 px-2 gap-2 items-center cursor-pointer hover:bg-emerald-500 rounded-sm"
      (click)="selectCompressMethod(item)" >
      <div class="text-white text-sm ">{{item.name}}</div>
    </li>
  </ul>
</div>
