.items_table {
  @apply w-full text-white;

  thead {
    @apply border-b border-gray-200 border-solid bg-secondary;
    th {
      @apply text-left px-5 py-3 font-normal text-xs;

    }

    th:nth-of-type(1) {
      position: sticky;
      left: -1px;
      z-index: 21;
    }
  }

  tbody {
    tr:nth-child(2n+1) {
      @apply bg-primary;

      td:nth-of-type(1) {
        @apply bg-primary;
      }

    }
    tr:nth-child(2n) {
      @apply bg-secondary;

      td:nth-of-type(1) {
        @apply bg-secondary;
      }
    }

    tr {
      td {
        @apply px-5 py-3 text-left text-sm;
      }

      td:nth-of-type(1) {
        position: sticky;
        left: -1px;
        z-index: 20;
      }
    }
  }
}

.number_line {
  text-align: right !important;
}

.block_full {
  @apply px-6 py-6 bg-secondary border-emerald-400 border border-solid rounded-lg flex flex-col gap-4 relative overflow-hidden;
  width: calc(100%);
  min-height: 660px;
  height: 660px;
}
