<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="w-full bg-primary min-h-screen">
  <div class="content pt-16 pb-16">
    <app-breadcrumbs [segments]="breadcrumbs"></app-breadcrumbs>

    <div class="flex flex-col gap-4 my-8 mx-2 xl:mx-0">
      <div class="flex gap-4 items-center w-full justify-between">
        <h1 class="text-white font-bold text-3xl">{{title}}</h1>
        <div *ngIf="instances.length" class="flex gap-4">
          <button
            id="currency_button"
            class="dropdown_button"
            type="button">
            <div class="px-4 py-3">
            {{selectedCurrency.slug}}
            </div>
            <div class="px-4 py-3 w-12 h-full bg-primary justify-center items-center flex rounded-r-lg">
              <lucide-icon name="chevron-down" class="h-6 w-6 text-emerald-400"></lucide-icon>
            </div>
          </button>
          <button class="btn-primary py-2 px-3 flex gap-1 items-center" (click)="clipboardURL($event)">
            Share
            <lucide-icon name="{{clipboardIcon}}" size="16" class="ml-2"></lucide-icon>
          </button>
          <button class="btn-primary py-2 px-3 flex gap-1 items-center" (click)="openModal()">
            Embed chart
            <lucide-icon name="copy" size="16" class="ml-2"></lucide-icon>
          </button>
        </div>
      </div>
      <div *ngIf="instances.length" class="text-white text-xl pr-16" [innerHTML]="description">
      </div>
    </div>

    <div *ngIf="!instances.length" class="flex flex-col gap-4 mx-2 xl:mx-0" id="comparesDiv" #comparesDiv>
      <div class="text-white text-xl pr-16">
        Compare cloud servers and their characteristics, such as CPU, GPU, memory, and storage details, and the performance of the instances by various benchmarking workloads to find the optimal compute resource for your needs.
      </div>
      <div class="text-white text-xl pr-16">
        To get started, select at least two servers using the checkboxes in the left column of our <a class="text-emerald-400" routerLink="/servers" >servers listing page</a>, and optionally add/remove servers on their dedicated server details pages as well via the "Compare" button, or find below a curated list of server comparison sets.
      </div>

      <div class="flex flex-col gap-4 mt-4">
        <div
          class="flex flex-col py-6 gap-2 text-white"
          [ngClass]="{
            'bg-secondary rounded-lg px-6': item.type === 'card'
          }"
          *ngFor="let item of specialCompares"
        >
          <h2 *ngIf="item.type === 'section'" class="text-2xl font-semibold">
            {{item.title}}
          </h2>
          <h3 *ngIf="item.type === 'card'">
            <a routerLink="/compare/{{item.id}}" class="text-emerald-400 text-xl font-semibold"> {{item.title}} </a>
          </h3>
          <div
            *ngIf="item.description && item.hide_description_in_index !==  true"
            class="description_inner_html"
            [ngClass]="{'text-lg space-y-4': item.type === 'section'}"
            [innerHTML]="item.description">
          </div>
          <details
            *ngIf="item.query"
            class="flex flex-col gap-2 [&_svg]:open:-rotate-90"
            [ngClass]="{'mt-4': item.type === 'section'}">
            <summary class="text-sm list-none cursor-pointer">
              SQL query used to select instances
              <svg class="inline fill-current opacity-75 w-4 h-4 -mr-1 rotate-90" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z"/></svg>
            </summary>
            <pre class="sourceCode sql"><code class="sourceCode sql">{{item.query}}</code></pre>
          </details>
          <div *ngIf="item.instances" class="text-sm flex flex-wrap gap-2"> Instances:
            <a *ngFor="let instance of item.instances" class="underline decoration-dotted whitespace-nowrap" routerLink="/server/{{instance.vendor}}/{{instance.server}}" >
              {{instance.server}} ({{instance.vendor}})
            </a>
          </div>
        </div>
      </div>

      <hr class="mt-6">
      <div class="text-white text-xl pr-16 mt-3">
        <p><i>You made it to the bottom of the page and still missing the list of servers you hoped to see?</i></p>
        <p class="mt-3">Compile your own comparison as per above on our <a class="text-emerald-400" routerLink="/servers" >servers listing page</a>, then open a <a href="https://github.com/SpareCores/sc-www/issues/new" class="text-emerald-400" target="_blank" rel="noopener">GitHub ticket</a> with the crafted URL and some details on why you find it useful, and we will be happy to review your request and add to our repository! Alternatively, open a pull request editing the <a href="https://github.com/SpareCores/sc-www/blob/main/src/app/pages/server-compare/special-compares.js" class="text-emerald-400" target="_blank" rel="noopener">special-compares.js</a> file directly.</p>
      </div>

    </div>

    <div *ngIf="instances.length" id="table_holder" #tableHolder class="overflow-x-auto overflow-y-hidden relative min-h-screen mx-2 xl:mx-0" style="padding-left: 1px;">
      <div *ngIf="isLoading" class="absolute top-0 left-0 w-full h-full z-10" style="background-color: rgba(0,0,0,0.2);" >
        <div class="flex justify-center mt-16 opacity-100" role="status">
          <svg aria-hidden="true" class="inline w-12 h-12 text-gray-200 animate-spin fill-emerald-400" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
              <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
          </svg>
          <span class="sr-only">Loading...</span>
        </div>
      </div>
      <div *ngIf="isBrowser() && isTableOutsideViewport" class="fixed_thead" [style]="getFixedDivStyle()">
        <table class="items_table" [style]="getMainTableWidth()">
          <thead>
            <tr>
              <th [style]="getStickyHeaderFirstColStyle()">
              </th>
              <th *ngFor="let item of servers let i = index" [style]="getStyle()">
                <a class="underline decoration-dotted" href="/server/{{item.vendor_id}}/{{item.api_reference}}" target="_blank">
                  {{toUpper(item.display_name)}}
                </a>
              </th>
            </tr>
          </thead>
        </table>
      </div>
      <div>
        <app-server-compare-charts
        [servers]="servers"
        [instanceProperties]="instanceProperties"
        [benchmarkMeta]="benchmarkMeta"
        [benchmarkCategories]="benchmarkCategories"
        [instancePropertyCategories]="instancePropertyCategories"
        [showZone]="showZoneIds"
        >
        </app-server-compare-charts>
      </div>
    </div>
  </div>
</div>

<div id="tooltipDefault"
  #tooltipDefault
  style="opacity: 0; z-index: 22"
  class="absolute z-100 inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-secondary border border-solid border-emerald-400 rounded-lg">
  {{tooltipContent}}
</div>

<div id="currency_options" class="z-100 hidden bg-secondary rounded-lg shadow w-52 border border-emerald-400 border-solid">
  <ul class="py-2 px-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
    <li *ngFor="let item of availableCurrencies"
      class="flex py-1 px-2 gap-2 items-center cursor-pointer hover:bg-emerald-500 rounded-sm"
      (click)="selectCurrency(item)" >
      <div class="text-white text-sm ">{{item.name}} ({{item.symbol}})</div>
    </li>
  </ul>
</div>


<!-- Large Modal -->
<div id="large-modal"
    tabindex="-1"
    class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-h-full">
      <div class="relative bg-secondary rounded-lg shadow border border-solid border-emerald-400 " >
          <div class="flex items-center justify-between p-2 md:p-5 border-b rounded-t">
              <h3 class="text-xl font-medium text-white dark:text-white">
                 Embed Chart
              </h3>
              <button type="button"
                      data-ph-capture-attribute-sc-event="embed chart modal close"
                      data-ph-capture-attribute-server-listing-search-prompt-action="close"
                      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center"
                      (click)="closeModal()">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
              </button>
          </div>
          <div *ngIf="instancesRaw" class="space-y-4 flex flex-col">
              <app-embed-compare-preview *ngIf="instancesRaw"
                [instances]="instancesRaw"
                [isModal]="true"
                [charts]="embeddableCharts"
                >
              </app-embed-compare-preview>
          </div>
      </div>
  </div>
</div>


